In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import os
import fitz

from pprint import pprint

import util
import lines
import classification

In [2]:
test_files_dir = ".././test_files/"
test_files = util.list_files(test_files_dir)
test_files

['.././test_files/LS_index_1944.pdf',
 '.././test_files/LS_index_1986_split.pdf',
 '.././test_files/Argentinia_LS_index_1934_test_I_DE.pdf',
 '.././test_files/LS_index_1976.pdf',
 '.././test_files/LS_index_1920.pdf',
 '.././test_files/LS_index_1986.pdf',
 '.././test_files/LS_index_1937.pdf',
 '.././test_files/LS_index_1920_split.pdf',
 '.././test_files/LS_index_1944_split.pdf']

In [3]:
p_start = 3
pages, dicts = util.read_pdf(test_files[0], p_start)

l_df = lines.make_lines_df(dicts)
l_df = lines.merge_close_lines(l_df)
l_df = lines.remove_useless_lines(l_df)

display(l_df)

Reading pdf from .././test_files/LS_index_1944.pdf
...
Finished reading 80 page(s)

,line_text,spans,x0,y0,x1,y1,page
0,1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLISH...,[1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLIS...,35.0,94.69,342.19,104.79,3
1,"LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND, RE","[LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND,...",48.0,104.29,336.14,114.79,3
2,PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED PRE,[PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED ...,49.0,114.39,338.64,124.89,3
3,VIOUSLY IN THE LEGISLATIVE SERIES,[VIOUSLY IN THE LEGISLATIVE SERIES],48.0,124.46,236.91,134.86,3
4,ARGENTINE REPUBLIC,[ARGENTINE REPUBLIC],26.0,147.26,151.34,158.86,3
...,...,...,...,...,...,...,...
4320,Apr. 28 L.D. respecting the organisation of la...,"[Apr. 28, L.D., respecting the organisation of...",62.0,528.92,369.30,539.32,82
4321,agreements; labour courts]. No. 311. (Zb. pp. ...,"[agreements; labour courts]., No. 311., (Zb. p...",109.0,537.12,337.55,547.49,82
4322,G.O. = Gacefa Oficial de los Unmdos de Venezuela.,"[G.O. =, Gacefa, Oficial de los, Unmdos de Ven...",63.0,552.82,296.01,563.62,82
4323,Zb. = Zbornile zakona i naredaba.,"[Zb. =, Zbornile, zakona, i, naredaba.]",62.0,562.45,195.35,573.75,82
4324,110L.S. 1940 (Ven. 1).,[110L.S. 1940 (Ven. 1).],63.0,582.02,151.79,591.62,82

In [4]:
bins_x0, bins_x1, x0_n = classification.group_line_starts_ends(l_df)
display(x0_n, bins_x0, bins_x1)

3

,x0,lines,last_x0,count,page
5,"[26.0, 26.0, 27.0, 27.0, 27.0, 27.0, 28.0, 27....","[4, 22, 30, 38, 39, 40, 41, 45, 46, 47]",28.0,10,3
7,"[35.0, 34.0, 35.0, 35.0, 35.0, 35.0, 35.0, 36....","[0, 6, 11, 18, 24, 26, 31, 36, 37, 42]",35.0,10,3
3,"[80.0, 80.0, 80.0, 81.0, 80.0, 80.0, 80.0, 81....","[7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 19, 20, ...",82.0,19,3
3,"[47.0, 49.0, 50.0, 50.0, 50.0, 51.0, 51.0, 51....","[48, 49, 64, 68, 75, 79, 89, 90, 91, 92, 93, 9...",51.0,19,4
2,"[58.0, 58.0, 58.0, 58.0, 59.0, 59.0, 59.0, 59....","[50, 54, 58, 65, 69, 76, 80, 85, 95]",60.0,9,4
...,...,...,...,...,...
4,"[23.0, 23.0, 23.0, 24.0, 24.0, 24.0, 24.0, 24....","[4215, 4219, 4223, 4227, 4230, 4234, 4237, 424...",26.0,14,81
3,"[69.0, 69.0, 69.0, 69.0, 70.0, 69.0, 69.0, 70....","[4216, 4217, 4218, 4220, 4221, 4222, 4224, 422...",71.0,35,81
0,"[54.0, 54.0]","[4314, 4315]",54.0,2,82
6,"[55.0, 54.0, 56.0, 60.0, 63.0, 63.0, 62.0, 63....","[4267, 4268, 4297, 4309, 4317, 4318, 4320, 432...",63.0,10,82
4,"[106.0, 110.0, 110.0, 110.0, 110.0, 110.0, 110...","[4270, 4274, 4275, 4276, 4280, 4282, 4283, 428...",109.0,25,82

,x1,lines,last_x1,count,page
15,"[342.19, 338.64, 340.15, 339.66, 340.92, 340.2...","[0, 2, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18,...",341.23,30,3
10,"[364.39, 365.77, 365.53, 364.94, 364.62, 365.1...","[50, 51, 52, 54, 55, 56, 58, 59, 60, 61, 62, 6...",365.55,37,4
18,"[344.22, 342.88, 342.88, 343.64, 342.57, 342.7...","[103, 105, 106, 107, 111, 112, 117, 118, 121, ...",341.44,31,5
17,"[368.16, 368.79, 368.92, 368.63, 368.64, 368.0...","[162, 163, 168, 170, 171, 173, 174, 178, 182, ...",368.64,25,6
16,"[327.4, 325.91, 325.98, 326.49, 326.08, 326.78...","[210, 212, 213, 214, 215, 217, 218, 220, 221, ...",327.85,31,7
...,...,...,...,...,...
11,"[379.6, 380.17, 380.35, 379.0, 380.11, 380.46,...","[4047, 4048, 4049, 4050, 4051, 4052, 4053, 405...",375.05,39,78
9,"[326.73, 326.84, 327.21, 326.62, 326.06, 326.3...","[4101, 4103, 4104, 4105, 4106, 4107, 4109, 411...",323.36,44,79
11,"[377.02, 376.64, 376.83, 377.64, 376.42, 376.7...","[4161, 4162, 4163, 4165, 4166, 4167, 4168, 417...",374.36,41,80
10,"[328.74, 329.31, 329.32, 329.17, 326.22, 327.5...","[4214, 4215, 4216, 4217, 4219, 4220, 4221, 422...",330.93,33,81
16,"[369.99, 369.86, 367.33, 370.75, 370.01, 370.0...","[4270, 4271, 4272, 4273, 4274, 4275, 4279, 428...",369.3,25,82

In [5]:
li_df = classification.assign_types(l_df, bins_x0, bins_x1, x0_n)
#li_df.to_csv("second_labeling_1944_full.csv")
li_df.head(20)

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type
0,1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLISH...,[1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLIS...,35.0,94.69,342.19,104.79,3,1,2
1,"LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND, RE","[LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND,...",48.0,104.29,336.14,114.79,3,-1,1
2,PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED PRE,[PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED ...,49.0,114.39,338.64,124.89,3,-1,2
3,VIOUSLY IN THE LEGISLATIVE SERIES,[VIOUSLY IN THE LEGISLATIVE SERIES],48.0,124.46,236.91,134.86,3,-1,1
4,ARGENTINE REPUBLIC,[ARGENTINE REPUBLIC],26.0,147.26,151.34,158.86,3,0,0
5,FEDERAL GOVERNMENT,[FEDERAL GOVERNMENT],127.0,163.84,243.31,173.74,3,-1,1
6,"June 3 Decree No. 13,943/44, to repeal section...","[June 3, Decree No. 13,943/44, to repeal secti...",34.0,178.21,340.15,187.99,3,1,2
7,"watchmen] of Decree No. 562 of 31st December, ...","[watchmen] of Decree No. 562 of 31st December,...",80.0,186.46,339.66,196.06,3,2,2
8,the hours of work of persons engaged in mariti...,[the hours of work of persons engaged in marit...,80.0,193.84,340.92,204.54,3,2,2
9,navigation and dock and harbour services. (B.O...,"[navigation and dock and harbour services., (B...",80.0,202.66,340.20,212.46,3,2,2
10,"No. 14,919, p. 5)","[No. 14,919, p. 5)]",81.0,211.18,144.29,220.49,3,2,0
11,"Sept. 11 Decrees No. 24,335/44 and 24,336/44, ...","[Sept. 11, Decrees No. 24,335/44 and 24,336/44...",35.0,225.04,339.57,234.54,3,1,2
12,"of 15th October, 19342, respecting the employm...","[of 15th October, 19342, respecting the employ...",80.0,233.41,340.80,242.81,3,2,2
13,and after confinement [by adding a paragraph t...,[and after confinement [by adding a paragraph ...,80.0,240.74,339.16,251.04,3,2,2
14,"respect to allowances], and (2) to amend secti...","[respect to allowances], and (2), to amend sec...",80.0,248.71,341.00,259.49,3,2,2
15,"No. 80,229 of 15th April, issuing regulations ...","[No. 80,229 of, 15th April,, issuing regulatio...",81.0,257.06,341.01,267.64,3,2,2
16,"No. 11,933 of 15th October, 1934. (B.O. 20th S...","[No. 11,933 of 15th October, 1934., (B.O. 20th...",81.0,265.24,340.96,275.51,3,2,2
17,"No. 15,000, pp. 9-10)","[No. 15,000, pp. 9-10)]",81.0,274.04,159.61,283.14,3,2,0
18,"Nov. 4 Decree No. 29,830/44, to amend certain ...","[Nov. 4, Decree No. 29,830/44, to amend certai...",35.0,288.06,339.88,297.69,3,1,2
19,"of 10th September, respecting security of tenu...","[of 10th September,, respecting security of te...",80.0,295.96,340.90,306.06,3,2,2

In [6]:
cli_df = classification.correct_x0_types(li_df, bins_x0, bins_x1)
ll_df = classification.assign_labels(cli_df, x0_n)
ll_df

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type,label
0,1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLISH...,[1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLIS...,35.0,94.69,342.19,104.79,3,1,2,start
1,"LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND, RE","[LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND,...",48.0,104.29,336.14,114.79,3,-1,1,other
2,PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED PRE,[PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED ...,49.0,114.39,338.64,124.89,3,-1,2,other
3,VIOUSLY IN THE LEGISLATIVE SERIES,[VIOUSLY IN THE LEGISLATIVE SERIES],48.0,124.46,236.91,134.86,3,-1,1,other
4,ARGENTINE REPUBLIC,[ARGENTINE REPUBLIC],26.0,147.26,151.34,158.86,3,0,0,country
...,...,...,...,...,...,...,...,...,...,...
4320,Apr. 28 L.D. respecting the organisation of la...,"[Apr. 28, L.D., respecting the organisation of...",62.0,528.92,369.30,539.32,82,1,2,start
4321,agreements; labour courts]. No. 311. (Zb. pp. ...,"[agreements; labour courts]., No. 311., (Zb. p...",109.0,537.12,337.55,547.49,82,2,1,end
4322,G.O. = Gacefa Oficial de los Unmdos de Venezuela.,"[G.O. =, Gacefa, Oficial de los, Unmdos de Ven...",63.0,552.82,296.01,563.62,82,1,1,other
4323,Zb. = Zbornile zakona i naredaba.,"[Zb. =, Zbornile, zakona, i, naredaba.]",62.0,562.45,195.35,573.75,82,1,0,other
4324,110L.S. 1940 (Ven. 1).,[110L.S. 1940 (Ven. 1).],63.0,582.02,151.79,591.62,82,1,0,other

In [55]:
classification.improve_classification(ll_df)

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type,label,new_label,date
0,1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLISH...,[1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLIS...,35.0,94.69,342.19,104.79,3,1,2,start,other,
1,"LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND, RE","[LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND,...",48.0,104.29,336.14,114.79,3,-1,1,other,other,
2,PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED PRE,[PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED ...,49.0,114.39,338.64,124.89,3,-1,2,other,other,
3,VIOUSLY IN THE LEGISLATIVE SERIES,[VIOUSLY IN THE LEGISLATIVE SERIES],48.0,124.46,236.91,134.86,3,-1,1,other,other,
4,ARGENTINE REPUBLIC,[ARGENTINE REPUBLIC],26.0,147.26,151.34,158.86,3,0,0,country,country,
...,...,...,...,...,...,...,...,...,...,...,...,...
4320,Apr. 28 L.D. respecting the organisation of la...,"[Apr. 28, L.D., respecting the organisation of...",62.0,528.92,369.30,539.32,82,1,2,start,start,Apr. 28
4321,agreements; labour courts]. No. 311. (Zb. pp. ...,"[agreements; labour courts]., No. 311., (Zb. p...",109.0,537.12,337.55,547.49,82,2,1,end,end,
4322,G.O. = Gacefa Oficial de los Unmdos de Venezuela.,"[G.O. =, Gacefa, Oficial de los, Unmdos de Ven...",63.0,552.82,296.01,563.62,82,1,1,other,other,
4323,Zb. = Zbornile zakona i naredaba.,"[Zb. =, Zbornile, zakona, i, naredaba.]",62.0,562.45,195.35,573.75,82,1,0,other,other,
4324,110L.S. 1940 (Ven. 1).,[110L.S. 1940 (Ven. 1).],63.0,582.02,151.79,591.62,82,1,0,other,other,

In [7]:
lines_df = classification.generate_cluster_labels(l_df, dicts, 2)
lines_df

,line_text,spans,x0,y0,x1,y1,page,label_kmeans_0,label_kmeans_1,label
0,1944—Indexes I — 4 —,"[1944—Indexes I, —, 4, —]",47.0,48.06,221.90,57.31,1,1,0,other
1,Queensland,[Queensland],49.0,66.06,102.92,76.06,1,1,2,country
2,Dec. 1 An Act to suspend certain provisions of...,"[Dec. 1, An Act to suspend certain provisions ...",58.0,82.71,364.39,93.01,1,1,1,start
3,"Insurance Acts, 1922 to 19368, and for purpose...","[Insurance Acts, 1922 to 19368, and for purpos...",105.0,90.69,365.77,100.39,1,0,1,middle
4,"8 Geo. VI, No. 14. The Unemployed Workers Insu...","[8 Geo. VI, No. 14., The Unemployed Workers In...",105.0,98.59,365.53,109.34,1,0,1,middle
...,...,...,...,...,...,...,...,...,...,...
340,"the national territory. (B.O. 18th December, 1...","[the national, territory., (B.O., 18th Decembe...",121.0,524.04,381.10,534.04,6,0,1,middle
341,pp. 20-22) Arg. 2 (A),"[pp. 20-22), Arg. 2 (A)]",120.0,532.39,379.77,542.59,6,0,1,middle
342,B.O. = Boletin Of icial de Ia Argentina.,"[B.O. =, Boletin, Of icial de Ia, Argentina.]",74.0,549.91,269.09,560.61,6,1,0,other
343,"4L.S. 1929 (Arg. 1, A); 1930 (Arg. 1, A). — 19...","[4L.S. 1929 (Arg. 1, A); 1930 (Arg., 1, A). —,...",73.0,572.39,366.26,583.29,6,1,1,start
344,0L.S. 1925 (Arg. 3).,[0L.S. 1925 (Arg. 3).],66.0,581.29,149.01,591.49,6,1,2,country

In [41]:
impr_df = classification.improve_classification(lines_df)
impr_df

,line_text,spans,x0,y0,x1,y1,page,label_kmeans_0,label_kmeans_1,label,new_label,date
0,1944—Indexes I — 4 —,"[1944—Indexes I, —, 4, —]",47.0,48.06,221.90,57.31,1,1,2,other,other,
1,Queensland,[Queensland],49.0,66.06,102.92,76.06,1,1,1,country,region,
2,Dec. 1 An Act to suspend certain provisions of...,"[Dec. 1, An Act to suspend certain provisions ...",58.0,82.71,364.39,93.01,1,1,0,start,start,Dec. 1
3,"Insurance Acts, 1922 to 19368, and for purpose...","[Insurance Acts, 1922 to 19368, and for purpos...",105.0,90.69,365.77,100.39,1,0,0,middle,middle,
4,"8 Geo. VI, No. 14. The Unemployed Workers Insu...","[8 Geo. VI, No. 14., The Unemployed Workers In...",105.0,98.59,365.53,109.34,1,0,0,middle,middle,
...,...,...,...,...,...,...,...,...,...,...,...,...
329,"the national territory. (B.O. 18th December, 1...","[the national, territory., (B.O., 18th Decembe...",121.0,524.04,381.10,534.04,6,0,0,middle,middle,
330,pp. 20-22) Arg. 2 (A),"[pp. 20-22), Arg. 2 (A)]",120.0,532.39,379.77,542.59,6,0,0,middle,middle,
331,B.O. = Boletin Of icial de Ia Argentina.,"[B.O. =, Boletin, Of icial de Ia, Argentina.]",74.0,549.91,269.09,560.61,6,1,2,other,other,
332,"4L.S. 1929 (Arg. 1, A); 1930 (Arg. 1, A). — 19...","[4L.S. 1929 (Arg. 1, A); 1930 (Arg., 1, A). —,...",73.0,572.39,366.26,583.29,6,1,0,start,other,
333,0L.S. 1925 (Arg. 3).,[0L.S. 1925 (Arg. 3).],66.0,581.29,149.01,591.49,6,1,1,country,other,

In [27]:
impr_df.loc[impr_df["label"] == "country"]

,line_text,spans,x0,y0,x1,y1,page,label_kmeans_0,label_kmeans_1,label,new_label,date
0,AU5TRJA—conhjflued,[AU5TRJA—conhjflued.],48.0,25.28,123.92,32.98,1,1,0,country,region,
79,COSTA RICA,[COSTA RICA.],47.0,26.62,94.49,34.32,2,1,0,country,country,
82,CZECIIO-SL0VAKIA,[CZECIIO-SL0VAKIA.],47.0,59.98,115.56,67.28,2,1,0,country,country,
99,DENMARK,[DENMARK.],51.0,218.38,89.53,225.68,2,1,0,country,country,
110,FINLANu,[FINLANu.],52.0,312.45,86.44,320.25,2,1,0,country,country,
122,FRANCE,[FRANCE.],51.0,415.25,82.04,422.65,2,1,0,country,country,
149,FRANcE—conhinued,[FRANcE—conhinued.],50.0,27.14,124.02,35.24,3,1,0,country,region,
172,GEORGIA,[GEORGIA.],49.0,212.33,83.62,219.33,3,1,0,country,country,
174,GE RMANv,"[GE, RMANv.]",49.0,236.12,88.00,243.32,3,1,0,country,country,
231,HUNGARY,[HUNGARY.],59.0,118.00,98.06,125.40,4,1,0,country,country,
242,ITALY,[ITALY.],58.0,206.62,82.15,214.52,4,1,0,country,country,
266,LITHUANIA,[LITHUANIA.],57.0,417.19,99.91,424.99,4,1,0,country,country,
270,LUNEMuURG,[LUNEMuURG.],56.0,468.68,103.86,475.98,4,1,0,country,country,
282,NETHERLANDS,[NETHERLANDS.],55.0,573.58,111.38,580.88,4,1,0,country,country,
286,NoRwAY—co nlinued,[NoRwAY—co nlinued.],54.0,27.69,130.94,35.79,5,1,0,country,region,
302,POLAND,[POLAND.],54.0,141.12,85.61,148.32,5,1,0,country,country,
311,ROUIIANIA,[ROUIIANIA.],54.0,221.93,95.50,229.63,5,1,0,country,country,
321,RUSSIA,[RUSSIA.],53.0,313.44,82.21,320.74,5,1,0,country,country,
324,SERBO-CROAT-SLOVENE KINODOM,"[SERBO-CROAT-SLOVENE, KINODOM.]",54.0,338.49,181.10,345.79,5,1,0,country,country,
328,S PAIN,"[S, PAIN.]",54.0,379.66,77.60,386.86,5,1,0,country,country,

In [51]:
impr_df.loc[impr_df["new_label"] == "start"]

,line_text,spans,x0,y0,x1,y1,page,label_kmeans_0,label_kmeans_1,label,new_label,date
2,Dec. 1 An Act to suspend certain provisions of...,"[Dec. 1, An Act to suspend certain provisions ...",58.0,82.71,364.39,93.01,1,1,0,start,start,Dec. 1
6,Dec. 14 An Act to amend the Workers' Compensat...,"[Dec. 14, An Act to amend the Workers' Compens...",58.0,121.11,364.94,131.34,1,1,0,start,start,Dec. 14
10,"Dec. 14 An Act to provide that persons who, du...","[Dec. 14, An Act to provide, that persons who,...",58.0,158.34,364.94,169.74,1,1,0,start,start,Dec. 14
17,Dec. 14 An Act to amend the Workmen's Compensa...,"[Dec. 14, An Act to amend the Workmen's Compen...",58.0,233.56,317.22,243.84,1,1,0,start,start,Dec. 14
27,Mar. 25 Legislative Order to amend sections 26...,"[Mar. 25, Legislative Order to amend sections ...",59.0,335.41,366.06,345.91,1,1,0,start,start,Mar. 25
31,Nov. 23 Act to fix a date for the calculation ...,"[Nov. 23, Act to fix a date for the calculatio...",59.0,383.26,365.06,393.66,1,1,0,start,start,Nov. 23
36,Dec. 29 Act to mike an addition to section 88 ...,"[Dec. 29, Act to mike an addition to section 8...",59.0,429.49,366.65,440.39,1,1,0,start,start,Dec. 29
56,Sept. 1 Act to amend [section 1 of] the Act of...,"[Sept. 1, Act to amend [section 1 of] the Act ...",60.0,88.99,368.16,98.69,2,1,0,start,start,Sept. 1
59,Sept. 29 Order to amend [section 5 of] the Ord...,"[Sept. 29, Order to amend [section 5 of], the ...",62.0,118.31,340.95,129.24,2,1,0,start,start,Sept. 29
62,"Dec. 29 Act to amend the Act of 30th April, 19...","[Dec. 29, Act to amend the Act of 30th, April,...",61.0,148.09,368.92,159.39,2,1,0,start,start,Dec. 29
64,Dec. 30 Order respecting the administration of...,"[Dec. 30, Order respecting the administration ...",61.0,171.39,368.63,181.14,2,1,0,start,start,Dec. 30
67,Dec. 30 Resolution respecting the administrati...,"[Dec. 30, Resolution respecting the administra...",61.0,201.44,368.03,211.36,2,1,0,start,start,Dec. 30
72,Apr. 4 Decree to amend section 82 [composition...,"[Apr. 4, Decree to amend section 82 [compositi...",61.0,269.68,364.44,279.79,2,1,0,start,start,Apr. 4
76,June 22 Ordinance respecting the bodies known ...,"[June 22, Ordinance respecting the bodies know...",61.0,308.19,367.80,317.89,2,1,0,start,start,June 22
80,Oct. 20 Ordinance respecting admission to soci...,"[Oct. 20, Ordinance respecting admission to, s...",62.0,346.14,368.98,356.04,2,1,0,start,start,Oct. 20
85,Dec. 21 Ordinance to amend sections 99c and 10...,"[Dec. 21, Ordinance to amend sections 99c and ...",61.0,391.86,367.52,402.26,2,1,0,start,start,Dec. 21
91,"Jan. 5 Act No. 6, to amend [the second paragra...","[Jan. 5, Act No. 6, to amend [the second parag...",61.0,467.11,368.05,477.91,2,1,0,start,start,Jan. 5
98,1935 (Fin. 1); amendments: 1940 (Fin. 1); 1941...,[1935 (Fin. 1); amendments: 1940 (Fin. 1); 194...,88.0,553.04,369.33,562.93,2,1,0,start,start,Fin. 1
105,Oct. 7 -An Ordinance further to amend the Nati...,"[Oct. 7, -An Ordinance further to amend the Na...",75.0,84.79,379.84,95.44,3,1,0,start,start,Oct. 7
109,Dec. 18 An Ordinance to amend the War Injuries...,"[Dec. 18, An Ordinance to amend the War Injuri...",74.0,123.17,379.35,133.37,3,1,0,start,start,Dec. 18
114,"• Dec. 30 Notification No. 5-DC (87)/44, to in...","[• Dec. 30, Notification No. 5-DC (87)/44, to ...",70.0,161.72,380.02,171.72,3,1,0,start,start,Dec. 30
119,Nov. 4 Decree to amend section 135 [procedure ...,"[Nov., 4, Decree to amend section 135 [procedu...",75.0,212.12,379.34,221.72,3,1,0,start,start,Nov. 4
126,May 1 Decree to amend [sections 21 and 25 of] ...,"[May, 1, Decree to amend [sections 21 and 25 o...",75.0,268.07,381.76,278.27,3,1,0,start,start,May 1
132,Dec 12 An Act to amend certain enactments of t...,"[Dec, 12, An Act to amend certain enactments o...",75.0,322.44,382.42,332.54,3,1,0,start,start,Dec 12
139,Dec 15 An Act to make provision with respect t...,"[Dec, 15, An Act to make provision with respec...",75.0,376.97,381.39,386.77,3,1,0,start,start,Dec 15
148,Mar. 30 Act to amend ;provisionally' 'the 'Act...,"[Mar. 30, Act to amend ;provisionally' 'the 'A...",75.0,467.79,380.57,477.39,3,1,0,start,start,Mar. 30
155,1927 (Mor. 3); amendments: 1931 (Mor. 1); 1935...,[1927 (Mor. 3); amendments: 1931 (Mor. 1); 193...,67.0,532.02,379.74,542.02,3,1,0,start,start,Mor. 3
170,Mar 17 Act No 96 to amend Act No 206 of 29th J...,"[Mar, 17, Act No 96, to amend Act No 206 of 29...",70.0,119.35,377.17,129.92,4,1,0,start,start,Mar 17
172,"Mar. 24 Order No. 231, to amend section 32 of ...","[Mar. 24, Order No. 231, to amend section 32 o...",71.0,141.82,354.92,151.70,4,1,0,start,start,Mar. 24
178,"June 30 Act No. 464, to continue [until 30th J...","[June 30, Act No. 464, to continue [until 30th...",71.0,185.52,377.15,195.52,4,1,0,start,start,June 30
185,"July 15 Order No. 548, to amend section'31'of ...","[July 15, Order No. 548, to amend section'31'o...",71.0,237.62,376.01,247.42,4,1,0,start,start,July 15
190,"Sept. 14 No. 660, to amend 4 Notification No. 282","[Sept., 14, No. 660, to amend, 4, Notification...",72.0,259.45,377.73,269.32,4,1,0,start,start,Sept. 14
196,"Jan. 4 Resolution of the Federal Council .t,o ...","[Jan. 4, Resolution, of the Federal Council .t...",72.0,328.39,378.17,338.70,4,1,0,start,start,Jan. 4
201,Jan. 28 Resolutions of the Federal Council to ...,"[Jan. 28, Resolutions of the Federal Council t...",72.0,374.42,378.65,384.42,4,1,0,start,start,Jan. 28
204,Apr. 5 Resolution of the Federal Council to mo...,"[Apr. 5, Resolution of the Federal Council to ...",72.0,404.87,378.35,414.67,4,1,0,start,start,Apr. 5
212,"1935 (Swe. 4); 1936 (Swe 7, A); see also: 1939...","[1935 (Swe. 4); 1936 (Swe, 7, A); see also: 19...",65.0,501.24,378.20,512.02,4,1,0,start,start,Swe. 4
213,"(Swe. 2, C). — Consolidated text: L.S. 1931 (S...","[(Swe. 2, C). —, Consolidated text: L.S. 1931 ...",65.0,509.57,376.86,520.92,4,1,0,start,start,Swe. 2
214,(Swe. 2); 1937 (Swe. 3); 1938 (Swe. 4). — L.S....,"[(Swe. 2);, 1937, (Swe. 3);, 1938, (Swe., 4). ...",66.0,517.47,378.26,529.12,4,1,0,start,start,Swe. 2
227,"Dec. 27 A Law' to amend [sections 3, 8 and 12 ...","[Dec. 27, A Law' to amend [sections 3, 8 and 1...",67.0,117.91,374.98,128.41,5,1,0,start,start,Dec. 27
233,• 'Feb. 7 An Ordinance to amend the Trade Unio...,"[• 'Feb. 7, An Ordinance to amend the Trade Un...",61.0,174.48,375.73,184.43,5,1,0,start,start,Feb. 7
241,May 4 An Ordinance to amend the Employment of ...,"[May, 4, An Ordinance to amend the Employment ...",68.0,250.58,374.12,260.58,5,1,0,start,start,May 4
246,Jan. 12 An Act to amend the Labour(Minimdm Wag...,"[Jan. 12, An Act to amend the Labour(Minimdm W...",68.0,305.06,374.56,314.96,5,1,0,start,start,Jan. 12
251,Dec. 22 An Ordinance to amend [article 10 (1) ...,"[Dec., 22, An Ordinance to amend [article, 10 ...",68.0,344.98,375.09,355.48,5,1,0,start,start,Dec. 22
260,Dec. 8 An Act to amend the Selective Training ...,"[Dec. 8, An Act to amend the Selective Trainin...",68.0,427.61,375.77,437.78,5,1,0,start,start,Dec. 8
265,May 19 Decree respecting the method of giving ...,"[May 19, Decree respecting the method of givin...",69.0,475.96,373.73,486.23,5,1,0,start,start,May 19
269,"June 20 Act to amend section 11 of Ad No. 9,99...","[June 20, Act to amend section 11 of Ad No. 9,...",68.0,511.95,373.75,522.78,5,1,0,start,start,June 20
283,"May 4 Deciees No. 11,726/944 and No. 11,727/44...","[May 4, Deciees, No. 11,726/944 and No. 11,727...",72.0,121.09,377.81,131.71,6,1,0,start,start,May 4
290,"May 30 Decree No. 13,671/44, to include person...","[May 30, Decree No. 13,671/44, to include pers...",72.0,183.64,378.62,193.74,6,1,0,start,start,May 30
298,"June 1 Decree No. 14,103/44, to guarantee sixt...","[June 1, Decree No. 14,103/44, to guarantee si...",73.0,237.86,380.42,247.96,6,1,0,start,start,June 1
302,"June 3 Decree No. 13,943/44, to repeal section...","[June 3, Decree No. 13,943/44, to repeal secti...",73.0,275.79,380.15,285.66,6,1,0,start,start,June 3
307,"June 3 Decree No. 14,538/44, respecting the or...","[June 3, Decree No., 14,538/44,, respecting th...",73.0,321.76,380.62,332.56,6,1,0,start,start,June 3
310,"June 3 Decrees No. 14,548/44 and 14,549/44, (1...","[June 3, Decrees No. 14,548/44 and 14,549/44, ...",73.0,352.84,379.84,362.84,6,1,0,start,start,June 3
315,"June 30 Decree No. 16,312/44, to lay down rule...","[June 30, Decree No. 16,312/44, to lay down ru...",73.0,396.94,380.12,406.94,6,1,0,start,start,June 30
320,"July 6 Decree No. 17,854/44, to set up a speci...","[July 6, Decree No. 17,854/44, to set up a spe...",73.0,441.09,378.26,451.29,6,1,0,start,start,July 6
322,"July 29 Decree No. 20,329/44, to postpone the ...","[July 29, Decree No. 20,329/44, to postpone th...",74.0,461.16,379.64,471.26,6,1,0,start,start,July 29
327,"Aug. 10 Decree No. 21,425/44, to establish com...","[Aug. 10, Decree, No., 21,425/44,, to, establi...",74.0,508.29,380.50,517.69,6,1,0,start,start,Aug. 10

## Probleme
- Dokumente mit 2 Spalten
- Dokumente mit Länder-Überschrift über ganze Breite der Seite
- Erkennen, ab welcher Seite die eigentlichen Indexes beginnen
- Unnötigen Anfangstext auf der ersten Seite rausfiltern

## Fragen