In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import os
import fitz
import pytesseract

from pprint import pprint
from pdf2image import convert_from_path
from PIL import Image
from tempfile import TemporaryDirectory

import util
import lines
import group
import label
import records

In [2]:
test_files_dir = ".././test_files/"
test_files = util.list_files(test_files_dir)
test_files

['.././test_files/LS_index_1921.pdf',
 '.././test_files/LS_index_1921_ocr.pdf',
 '.././test_files/LS_index_1937.pdf',
 '.././test_files/LS_index_1986_split.pdf',
 '.././test_files/tess_test.pdf',
 '.././test_files/Argentinia_LS_index_1934_test_I_DE.pdf',
 '.././test_files/LS_index_1976.pdf',
 '.././test_files/LS_index_1944.pdf',
 '.././test_files/LS_index_1920_split.pdf',
 '.././test_files/LS_index_1986.pdf',
 '.././test_files/LS_index_1920.pdf',
 '.././test_files/LS_index_1944_split.pdf']

In [3]:
p_start = 3
pages, dicts = util.read_pdf(test_files[0], p_start)

l_df = lines.make_lines_df(dicts)
l_df = lines.merge_close_lines(l_df)
l_df = lines.remove_useless_lines(l_df)

display(l_df)

Reading pdf from .././test_files/LS_index_1921.pdf
...
Finished reading 10 page(s)

,line_text,spans,x0,y0,x1,y1,page
0,I . CHRONOLOGICA L INDE X O F LAW S AN D ...,"[I, ., CHRONOLOGICA, L, INDE, X, O, F, LAW...",21.12,72.94,331.74,82.94,3
1,ENGLIS H EDITIO N O F TH E LEGISLATIV ...,"[ENGLIS, H, , EDITIO, N, , O, F, , TH, E, ...",21.12,85.42,331.92,95.42,3
2,"TH E INTERNATIONA L LABOU R OFFICE , 1921 .","[TH, E, INTERNATIONA, L, LABOU, R, OFFICE, ...",56.88,98.14,294.78,108.14,3
3,"Note. — T. , E. , S. , o r Tl . afte r ...","[Note., —, T., ,, E., ,, S., ,, o, r, Tl...",31.44,115.99,331.86,122.99,3
4,"text , a n extract , a summary , o r th ...","[text, ,, a, n, extract, ,, a, summary, ,,...",21.84,124.39,331.27,131.39,3
...,...,...,...,...,...,...,...
696,URUGUA Y,"[URUGUA, Y ]",63.12,505.20,96.48,510.80,12
697,Ma y 6t h Decre e issuin g regulation s ...,"[Ma, y, , 6t, h, , Decre, e, issuin, g, re...",78.00,514.71,301.94,521.71,12
698,Ac t respectin g th e genera l compulsor y...,"[Ac, t, respectin, g, th, e, genera, l, co...",132.24,523.11,301.53,530.11,12
699,rest . T I I Ur . 1,"[rest, ., T, , I, I, Ur, ., 1 ]",131.76,532.23,339.06,539.23,12
700,* Se e als o lis t o f Law s an d Order...,"[*, Se, e, als, o, lis, t, o, f, Law, s, ...",73.20,546.63,341.36,553.63,12

In [5]:
bins_x0, bins_x1, x0_n = group.group_line_starts_ends(l_df)
borders = lines.make_borders_df(bins_x0, bins_x1)
display(x0_n, bins_x0, bins_x1)

3

,x0,lines,last_x0,count,page
5,"[21.12, 21.12, 21.84, 21.84, 21.84, 22.56, 22....","[0, 1, 4, 6, 7, 8, 10, 11, 16, 18]",23.52,10,3
2,"[37.68, 38.16, 38.64, 38.64, 38.64, 38.64, 38....","[12, 13, 14, 15, 17, 19, 20, 21, 22, 23, 24, 2...",39.12,14,3
0,"[91.68, 91.44, 91.68, 92.16, 92.64, 92.16, 92....","[29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 4...",92.88,41,3
3,"[70.56, 70.32, 70.08, 70.08, 70.32, 70.08, 70....","[71, 76, 78, 79, 81, 97, 105, 116, 117]",69.84,9,4
2,"[86.16, 85.92, 86.64, 85.68, 85.92, 85.92, 85....","[72, 73, 74, 75, 77, 80, 82, 98, 99, 100, 101,...",79.92,26,4
1,"[140.4, 140.16, 140.4, 140.4, 139.92, 139.92, ...","[83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 9...",140.16,50,4
2,"[24.96, 25.44, 25.44]","[157, 159, 163]",25.44,3,5
1,"[40.56, 40.56, 40.08, 40.56, 40.8, 41.04, 41.0...","[158, 160, 161, 162, 164, 165, 166, 167, 168, ...",41.52,17,5
0,"[94.56, 94.08, 94.56, 94.32, 93.84, 93.84, 94....","[177, 178, 179, 180, 181, 182, 183, 184, 185, ...",95.52,57,5
4,"[66.72, 67.92, 67.92, 67.68]","[235, 241, 244, 278]",67.68,4,6
3,"[83.04, 82.8, 83.28, 82.32, 83.28, 83.28, 83.0...","[236, 237, 238, 239, 240, 242, 243, 245, 254, ...",83.28,14,6
1,"[136.8, 137.04, 136.32, 136.56, 136.8, 136.32,...","[255, 256, 257, 258, 259, 260, 261, 262, 263, ...",138.0,48,6
0,41.28,370,41.28,1,7
2,"[48.72, 48.0, 47.76, 48.0, 47.52, 47.52, 47.04...","[311, 317, 322, 329, 336, 344, 348, 352, 358, ...",46.8,11,7
1,"[102.24, 102.0, 102.0, 101.76, 102.24, 102.48,...","[312, 313, 314, 315, 316, 318, 319, 320, 321, ...",101.52,48,7
5,"[66.24, 66.24, 66.24, 66.48, 66.0, 65.04]","[373, 376, 377, 380, 385, 391]",65.04,6,8
6,"[82.08, 81.36, 81.6, 81.6, 81.36, 82.32, 81.12...","[372, 374, 375, 378, 379, 381, 384, 386, 387, ...",82.56,17,8
3,"[136.56, 136.8, 136.08, 136.08, 136.08, 136.32...","[396, 397, 398, 399, 400, 401, 402, 403, 404, ...",134.16,53,8
1,"[30.96, 30.96]","[460, 463]",30.96,2,9
3,"[46.8, 46.8, 47.04, 47.04, 47.52, 47.76, 47.76...","[457, 461, 464, 471, 487, 491, 495, 499, 503, ...",47.52,13,9
2,"[101.04, 101.28, 101.04, 101.28, 101.76, 101.0...","[458, 459, 462, 467, 468, 469, 470, 472, 473, ...",101.76,47,9
0,67.92,579,67.92,1,10
2,"[84.0, 84.0, 84.0, 84.0, 84.0, 84.24, 83.76, 8...","[522, 525, 529, 532, 544, 548, 551, 555, 560, ...",83.52,15,10
1,"[137.52, 137.52, 138.0, 137.52, 137.52, 137.52...","[523, 524, 526, 527, 528, 530, 531, 533, 534, ...",137.52,46,10
1,"[31.2, 33.6, 33.84, 33.6, 34.8]","[587, 625, 626, 630, 638]",34.8,5,11
3,"[46.56, 47.04, 46.56, 47.04, 47.04, 47.76, 48....","[584, 588, 590, 594, 595, 601, 605, 607, 610, ...",48.96,17,11
2,"[100.8, 101.04, 101.04, 100.8, 101.04, 101.76,...","[585, 586, 589, 591, 592, 593, 596, 597, 598, ...",103.44,38,11
3,"[63.12, 63.6, 62.4, 63.6, 62.4, 63.12]","[646, 654, 669, 677, 690, 696]",63.12,6,12
2,"[78.96, 78.96, 78.48, 78.48, 77.76, 77.76, 78....","[647, 649, 655, 656, 659, 665, 670, 673, 678, ...",78.0,14,12
1,"[133.68, 132.96, 132.96, 132.72, 132.48, 132.7...","[648, 650, 651, 652, 653, 657, 658, 660, 661, ...",131.76,34,12

,x1,lines,last_x1,count,page
10,"[261.42, 259.23, 261.13, 261.37, 261.66, 261.6...","[10, 29, 30, 32, 33, 34, 35, 37, 38, 39, 40, 4...",260.91,28,3
9,"[75.52, 72.81, 73.29, 73.29, 73.29, 73.29, 74....","[11, 13, 15, 17, 19, 20, 21, 22, 23, 24, 25, 2...",74.25,13,3
13,"[331.74, 331.92, 331.86, 331.27, 331.53, 331.5...","[0, 1, 3, 4, 5, 6, 7, 9]",330.46,8,3
12,"[294.78, 290.79, 290.82, 290.26, 292.16, 291.9...","[2, 31, 36, 42, 53, 55, 57]",292.98,7,3
0,"[323.42, 321.94]","[66, 69]",321.94,2,3
...,...,...,...,...,...
12,245.51,645,245.51,1,12
1,164.17,690,164.17,1,12
3,109.31,669,109.31,1,12
0,96.48,696,96.48,1,12
7,92.19,654,92.19,1,12

In [6]:
borders

   page         x0          x1          dx
0     3  22.248000  261.503214  239.255214
1     4  70.213333  120.976538   50.763205
2     5  25.280000  264.234250  238.954250
3     6  67.560000  306.344000  238.784000
4     7  41.280000  270.997083  229.717083
5     8  66.040000  304.681538  238.641538
6     9  30.960000  271.028913  240.068913
7    10  67.920000  307.082000  239.162000
8    11  33.408000  271.161892  237.753892
9    12  63.040000  301.949697  238.909697

In [7]:
li_df = label.assign_types(l_df, bins_x0, bins_x1, x0_n)
l = label.assign_labels(li_df, x0_n)
li_df.head(20)

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type
0,I . CHRONOLOGICA L INDE X O F LAW S AN D ...,"[I, ., CHRONOLOGICA, L, INDE, X, O, F, LAW...",21.12,72.94,331.74,82.94,3,0,1
1,ENGLIS H EDITIO N O F TH E LEGISLATIV ...,"[ENGLIS, H, , EDITIO, N, , O, F, , TH, E, ...",21.12,85.42,331.92,95.42,3,0,1
2,"TH E INTERNATIONA L LABOU R OFFICE , 1921 .","[TH, E, INTERNATIONA, L, LABOU, R, OFFICE, ...",56.88,98.14,294.78,108.14,3,-1,1
3,"Note. — T. , E. , S. , o r Tl . afte r ...","[Note., —, T., ,, E., ,, S., ,, o, r, Tl...",31.44,115.99,331.86,122.99,3,-1,1
4,"text , a n extract , a summary , o r th ...","[text, ,, a, n, extract, ,, a, summary, ,,...",21.84,124.39,331.27,131.39,3,0,1
5,Th e letter s an d unbrackete d number s ...,"[Th, e, letter, s, an, d, unbrackete, d, n...",30.96,133.03,331.53,140.03,3,-1,1
6,"th e Legislativ e Serie s fo r 1921 , whi...","[th, e, Legislativ, e, Serie, s, fo, r, 19...",21.84,141.43,331.50,148.43,3,0,1
7,i n questio n o r i n referrin g t o th ...,"[i, n, questio, n, o, r, i, n, referrin, g...",21.84,149.83,331.74,156.83,3,0,1
8,refe r t o page s i n th e particula r i...,"[refe, r, t, o, page, s, i, n, th, e, par...",22.56,158.23,204.79,165.23,3,0,1
9,"Th e Legislativ e Series , 1921 , havin g ...","[Th, e, Legislativ, e, Series, ,, 1921, ,, ...",31.68,166.87,330.46,173.87,3,-1,1
10,ar e indicate d b y I I precedin g th e ...,"[ar, e, indicate, d, b, y, I, I, precedin,...",22.32,175.27,261.42,182.27,3,0,2
11,INTERNATIONA L,"[INTERNATIONA, L ]",22.80,203.92,75.52,209.52,3,0,0
12,Feb . 9th .,"[Feb, ., 9th, . ]",37.68,213.43,71.11,220.43,3,1,0
13,Feb . 14t h,"[Feb, ., 14t, h ]",38.16,238.87,72.81,245.87,3,1,0
14,Mar . 4/i6t h,"[Mar, ., 4/i6t, h ]",38.64,281.35,80.49,288.35,3,1,0
15,Oct . 8t h,"[Oct, ., , 8t, h ]",38.64,332.71,73.29,339.71,3,1,0
16,ARGENTIN E,"[ARGENTIN, E ]",23.52,352.48,62.20,358.08,3,0,0
17,Jun e 8t h,"[Jun, e, , 8t, h ]",38.64,361.99,73.29,368.99,3,1,0
18,AUSTRI A,"[AUSTRI, A ]",23.52,382.24,52.35,387.84,3,0,0
19,Mar . 10t h,"[Mar, ., 10t, h ]",38.64,391.75,73.29,398.75,3,1,0

In [7]:
cli_df = label.correct_x0_types(li_df, bins_x0, bins_x1, x0_n)
ll_df = label.assign_labels(cli_df, x0_n)

lli_df = ll_df.copy()
lli_df["new_label"] = lli_df["label"]
lli_df = label.improve_country_classification(lli_df)
#ll_df.to_csv("labeling_1986_full.csv")

lli_df

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type,label,new_label
0,I. CHRONOLOGICAL INDEX OF LAWS AND ORDERS IN,[I. CHRONOLOGICAL INDEX OF LAWS AND ORDERS IN],48.0,78.66,351.96,90.66,1,-1,1,other,other
1,THE ENGLISH EDITION OF THE LEGISLATiVE,[THE ENGLISH EDITION OF THE LEGISLATiVE],75.0,91.03,351.87,104.13,1,1,1,other,other
2,SERIES OF THE INTERNATIONAL LABOUR,"[SERIES, OF, THE, INTERNATIONAL, LABOUR]",77.0,105.66,350.81,116.86,1,1,1,other,other
3,"OFFICE, 1920.","[OFFICE, 1920.]",76.0,118.41,146.62,129.81,1,1,0,other,other
4,"Nora.—T. E., S., or Ti. after the title of a l...","[Nora.—T. E., S., or Ti. after the title of a ...",63.0,147.96,350.17,157.96,1,0,1,other,other
...,...,...,...,...,...,...,...,...,...,...,...
815,Decree to include messengers under the Eight-H...,"[Decree, to include messengers under the Eight...",68.0,511.51,327.87,522.03,11,1,2,start,start
816,"October, 1920. T., Ur. 3—5 ..","[October, 1920., T.,, Ur. 3—5, ..]",85.0,520.81,225.06,531.55,11,2,0,end,end
819,. Act respecting occupational accidents. 15th ...,"[., Act, respecting occupational accidents., 1...",68.0,526.76,330.57,537.86,11,1,2,start,start
820,Ur.r .. .. .. .. .. .. .. ..,"[Ur.r, .., .., .., .., .., .., .., ..]",85.0,535.33,301.28,546.43,11,2,1,end,end
821,"Act concerning weekly rest. 22nd November, 192...","[Act, concerning weekly rest., 22nd November, ...",67.0,544.01,310.48,553.93,11,1,1,other,other

In [9]:
rec_gr = records.group_records(lli_df)
rec = records.extract_records(lli_df)
rec

,country,region,text,page
0,INTERNATIONAL,,Convention between France and Poland respectin...,1
1,INTERNATIONAL,,Labour Treaty between France and Italy. 30th S...,1
2,INTERNATIONAL,,Convention between the Minister of Foreign Aff...,1
3,INTERNATIONAL,,Convention between France and the Czecho-Slova...,1
4,INTERNATIONAL,,Convention between the Minister of Foreign Aff...,1
...,...,...,...,...
219,URUGIJAY,,Resolution concerning ocdupational accidents i...,11
220,URUGIJAY,,Decree issuing new regulations under the Act r...,11
221,URUGIJAY,,Decree respecting the supervision of hours of ...,11
222,URUGIJAY,,Decree to include messengers under the Eight-H...,11
223,URUGIJAY,,. Act respecting occupational accidents. 15th ...,11

In [10]:
rec.to_csv("index_1920.csv")

In [55]:
classification.improve_classification(ll_df)

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type,label,new_label,date
0,1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLISH...,[1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLIS...,35.0,94.69,342.19,104.79,3,1,2,start,other,
1,"LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND, RE","[LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND,...",48.0,104.29,336.14,114.79,3,-1,1,other,other,
2,PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED PRE,[PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED ...,49.0,114.39,338.64,124.89,3,-1,2,other,other,
3,VIOUSLY IN THE LEGISLATIVE SERIES,[VIOUSLY IN THE LEGISLATIVE SERIES],48.0,124.46,236.91,134.86,3,-1,1,other,other,
4,ARGENTINE REPUBLIC,[ARGENTINE REPUBLIC],26.0,147.26,151.34,158.86,3,0,0,country,country,
...,...,...,...,...,...,...,...,...,...,...,...,...
4320,Apr. 28 L.D. respecting the organisation of la...,"[Apr. 28, L.D., respecting the organisation of...",62.0,528.92,369.30,539.32,82,1,2,start,start,Apr. 28
4321,agreements; labour courts]. No. 311. (Zb. pp. ...,"[agreements; labour courts]., No. 311., (Zb. p...",109.0,537.12,337.55,547.49,82,2,1,end,end,
4322,G.O. = Gacefa Oficial de los Unmdos de Venezuela.,"[G.O. =, Gacefa, Oficial de los, Unmdos de Ven...",63.0,552.82,296.01,563.62,82,1,1,other,other,
4323,Zb. = Zbornile zakona i naredaba.,"[Zb. =, Zbornile, zakona, i, naredaba.]",62.0,562.45,195.35,573.75,82,1,0,other,other,
4324,110L.S. 1940 (Ven. 1).,[110L.S. 1940 (Ven. 1).],63.0,582.02,151.79,591.62,82,1,0,other,other,

In [77]:
pdf_path = test_files[0]
start_page = 3

pdf_pages = convert_from_path(pdf_path, 400)[start_page-1:]
pdf_df = pd.DataFrame()

for i, page_img in enumerate(pdf_pages):
    df = pytesseract.image_to_data(Image.open('test.jpg'), config="--psm 4 --dpi 400", output_type="data.frame")
    df["page_num"] = i + start_page
    pdf_df = pd.concat([pdf_df, df])

In [78]:
df = pdf_df.copy()

df = df.dropna(subset=["text"])
df = df.rename(columns={"left": "x0", "top": "y0"})
df["x1"] = df["x0"] + df["width"]
df["y1"] = df["y0"] + df["height"]
df

,level,page_num,block_num,par_num,line_num,word_num,x0,y0,width,height,conf,text,x1,y1
4,5,3,1,1,1,1,392,308,168,28,88,BELGIUM,560,336
6,5,3,1,1,2,1,478,365,79,38,96,May,557,403
7,5,3,1,1,2,2,584,366,80,34,96,24th,664,400
8,5,3,1,1,2,3,780,367,65,27,94,Act,845,394
9,5,3,1,1,2,4,869,368,34,26,96,to,903,394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
618,5,12,8,1,1,13,1517,3221,34,27,95,to,1551,3248
619,5,12,8,1,1,14,1577,3227,92,28,93,"1921,",1669,3255
620,5,12,8,1,1,15,1693,3229,32,27,92,p.,1725,3256
621,5,12,8,1,1,16,1752,3227,39,27,95,13,1791,3254
622,5,12,8,1,1,17,1813,3219,118,30,95,below.,1931,3249

In [80]:
df.head(50)

,level,page_num,block_num,par_num,line_num,word_num,x0,y0,width,height,conf,text,x1,y1
4,5,3,1,1,1,1,392,308,168,28,88,BELGIUM,560,336
6,5,3,1,1,2,1,478,365,79,38,96,May,557,403
7,5,3,1,1,2,2,584,366,80,34,96,24th,664,400
8,5,3,1,1,2,3,780,367,65,27,94,Act,845,394
9,5,3,1,1,2,4,869,368,34,26,96,to,903,394
10,5,3,1,1,2,5,922,365,110,37,75,repeal,1032,402
11,5,3,1,1,2,6,1056,364,132,30,94,Section,1188,394
12,5,3,1,1,2,7,1212,373,61,27,94,310,1273,400
13,5,3,1,1,2,8,1294,367,35,28,95,of,1329,395
14,5,3,1,1,2,9,1350,365,58,30,96,the,1408,395
15,5,3,1,1,2,10,1429,367,102,28,95,Penal,1531,395
16,5,3,1,1,2,11,1552,367,100,29,92,Code.,1652,396
17,5,3,1,1,2,12,1674,368,37,30,55,T.,1711,398
18,5,3,1,1,2,13,1760,368,69,30,91,Bel.,1829,398
19,5,3,1,1,2,14,1857,376,82,28,92,2--3,1939,404
20,5,3,1,1,2,15,1964,365,44,39,94,(1),2008,404
22,5,3,1,1,3,1,477,412,80,38,96,May,557,450
23,5,3,1,1,3,2,584,412,80,36,96,24th,664,448
24,5,3,1,1,3,3,780,413,65,29,96,Act,845,442
25,5,3,1,1,3,4,869,415,35,27,93,to,904,442
26,5,3,1,1,3,5,925,415,183,33,91,guarantec,1108,448
27,5,3,1,1,3,6,1128,412,147,30,85,freedom,1275,442
28,5,3,1,1,3,7,1297,414,36,28,96,of,1333,442
29,5,3,1,1,3,8,1354,413,213,30,92,association.,1567,443
30,5,3,1,1,3,9,1589,413,38,30,83,T.,1627,443
31,5,3,1,1,3,10,1656,436,49,8,83,...,1705,444
32,5,3,1,1,3,11,1760,415,71,30,92,Bel.,1831,445
33,5,3,1,1,3,12,1856,423,84,28,47,2—,1940,451
34,5,3,1,1,3,13,1920,408,8,48,47,4,1928,456
35,5,3,1,1,3,14,1964,413,43,39,63,(1),2007,452
37,5,3,1,1,4,1,481,460,90,36,93,June,571,496
38,5,3,1,1,4,2,588,460,77,36,82,14th,665,496
39,5,3,1,1,4,3,781,460,64,28,96,Act,845,488
40,5,3,1,1,4,4,864,461,35,27,96,to,899,488
41,5,3,1,1,4,5,914,459,139,39,96,provide,1053,498
42,5,3,1,1,4,6,1069,460,52,28,96,for,1121,488
43,5,3,1,1,4,7,1137,469,40,19,96,an,1177,488
44,5,3,1,1,4,8,1194,459,195,37,96,eight-hour,1389,496
45,5,3,1,1,4,9,1405,461,68,37,96,day,1473,498
46,5,3,1,1,4,10,1489,461,67,29,96,and,1556,490
47,5,3,1,1,4,11,1549,455,32,48,92,a,1581,503
48,5,3,1,1,4,12,1609,460,107,39,91,forty-,1716,499
50,5,3,1,1,5,1,780,505,92,39,57,eight,872,544
51,5,3,1,1,5,2,897,507,84,29,94,hour,981,536
52,5,3,1,1,5,3,1004,508,103,28,82,week.,1107,536
53,5,3,1,1,5,4,1133,507,36,29,76,T.,1169,536
54,5,3,1,1,5,5,1201,529,509,9,0,.......-....2,1710,538
55,5,3,1,1,5,6,1481,501,16,47,19,0,1497,548
56,5,3,1,1,5,7,1496,501,79,47,0,eee,1575,548
57,5,3,1,1,5,8,1586,501,17,47,0,e,1603,548

In [85]:
page, lines_text, x0, x1, y0, y1 = [], [], [], [], [], []

for p_no, page_frame in df.groupby("page_num"):
    for b, block in page_frame.groupby("block_num"):
        for p, par in block.groupby("par_num"):
            for no, line in par.groupby("line_num"):
                x0.append(line["x0"].min())
                x1.append(line["x1"].max())
                y0.append(line["y0"].min())
                y1.append(line["y1"].max())

                line_text = ""
                for i, word in line.iterrows():
                    line_text += word["text"] + " "
                    #print(word["text"])

                lines_text.append(line_text)
                page.append(p_no)

lines_df = pd.DataFrame({
    "line_text": lines_text,
    "x0": x0,
    "y0": y0,
    "x1": x1,
    "y1": y1,
    "page": page
})
lines_df["dx"] = lines_df["x1"] - lines_df["x0"]

lines_df

,line_text,x0,y0,x1,y1,page,dx
0,BELGIUM,392,308,560,336,3,168
1,May 24th Act to repeal Section 310 of the Pena...,478,364,2008,404,3,1530
2,May 24th Act to guarantec freedom of associati...,477,408,2007,456,3,1530
3,June 14th Act to provide for an eight-hour day...,481,455,1716,503,3,1235
4,eight hour week. T. .......-....2 0 eee e reec...,780,501,1873,548,3,1093
...,...,...,...,...,...,...,...
605,cerning relief works. S. ....... Gi io eB ave ...,774,3014,2036,3058,12,1262
606,EcuabDor,389,3065,563,3094,12,174
607,Sept. 30th Act respecting occupational acciden...,464,3122,1909,3161,12,1445
608,,399,3187,503,3192,12,104
609,* See also list of Laws and Orders of years pr...,444,3217,1931,3256,12,1487

In [86]:
lines_df.head(50)

,line_text,x0,y0,x1,y1,page,dx
0,BELGIUM,392,308,560,336,3,168
1,May 24th Act to repeal Section 310 of the Pena...,478,364,2008,404,3,1530
2,May 24th Act to guarantec freedom of associati...,477,408,2007,456,3,1530
3,June 14th Act to provide for an eight-hour day...,481,455,1716,503,3,1235
4,eight hour week. T. .......-....2 0 eee e reec...,780,501,1873,548,3,1093
5,"Aug. 7th Act of 24th December, 1903, respectin...",477,553,1713,592,3,1236
6,sation for injurics resulting from industrial,777,600,1715,639,3,938
7,"accidents, as amended by the Acts of 27th Augu...",778,648,1713,687,3,935
8,"191g, and 7th August, 921. T............... Be...",782,696,1945,736,3,1163
9,BraziL,390,746,524,774,3,134
10,Jan. 6th Deerce regulating alien immigration i...,479,802,1713,840,3,1234
11,territory 2... ee ee eee Braz. 1,780,845,1904,893,3,1124
12,Bremen. See Germany (Bremen).,389,916,1063,954,3,674
13,CHILE,390,976,501,1006,3,111
14,Mar. 22nd Regulations for the administration o...,477,1023,1714,1060,3,1237
15,Creches Act®. Ts ice:assamsawvsewseaniansass C...,780,1070,2007,1109,3,1227
16,COLOMBIA,390,1124,576,1155,3,186
17,Nov. 18th Act to establish compulsory collecti...,476,1171,1872,1210,3,1396
18,CzECHO-SLOVAKIA,390,1243,735,1274,3,345
19,Mar. 11th Act for the encouragement of buildin...,477,1301,1924,1340,3,1447
20,Apr. 1st Act to amend the provisions of Sectio...,477,1348,1711,1387,3,1234
21,of the Civil Code. T. 6... ccc eee ee ee eee C...,778,1391,1855,1437,3,1077
22,May 21st Administrative Order of the Governmen...,478,1442,1715,1481,3,1237
23,the Czecho-Slovakian Republic under Chapter III,781,1490,1712,1527,3,931
24,"of the Act of 11th March, 1921, No. 100, respe...",781,1538,1713,1575,3,932
25,the encouragement of building. S. ........... ...,784,1584,1925,1623,3,1141
26,July 1st Act respecting the introduction of pa...,485,1631,1712,1670,3,1227
27,. leave for workers engaged in the mining of .,665,1679,1873,1718,3,1208
28,"reserved minerals. T. ......, 0... cece eee ee...",774,1723,1852,1768,3,1078
29,July roth Act respecting the State supplement ...,477,1774,1707,1813,3,1230
30,irient benefit. “T. cessciew wee ere wee sve w...,776,1818,1852,1863,3,1076
31,"Aug, 12th Act relating to works committecs. T....",475,1868,1853,1906,3,1378
32,Aug. r2th Act to prohibit coercion and to safe...,473,1916,1707,1954,3,1234
33,of assembly. T. 2.0... .. ccc ee eee ence eee ...,776,1959,1853,2006,3,1077
34,DENMARK,389,2012,575,2042,3,186
35,Apr. Ist Provisional Act relating to the hour ...,474,2070,1705,2109,3,1231
36,"shops, places of sale, etc., in the evening. T...",773,2117,2012,2157,3,1239
37,Apr. 8th Notification respecting the installat...,473,2164,1711,2203,3,1238
38,spection of compressed air containers. T. .......,774,2211,1945,2251,3,1171
39,May 6th Act relating to apprenticeship. T. ......,474,2259,1897,2298,3,1423
40,May 6th Act to amend the Poor Relief Act. T. ....,473,2306,1976,2345,3,1503
41,May 6th Act respecting invalidity insurance. T...,475,2352,1885,2391,3,1410
42,May 6th Act concerning the legal relations bet...,476,2400,1709,2439,3,1233
43,and. Servant: Ts s2eisaceeicmace cosa wiemeiam...,774,2445,1884,2490,3,1110
44,June 2oth Notification by the Minister of the ...,477,2495,1709,2534,3,1232
45,"Act No. 144 of roth May, 1915, concerning re-",780,2543,1708,2581,3,928
46,"cognised sick funds, as amended by the Act of",780,2590,1711,2629,3,931
47,6th May 102%. Ts sesasceeisneswesancewwrans De...,780,2638,1885,2677,3,1105
48,Sept. 27th Notification of the Minister of the...,477,2685,1709,2723,3,1232
49,"respecting the hour for closingshops, places o...",777,2733,1713,2771,3,936

In [47]:
bins_x0, bins_x1, x0_n = group.group_line_starts_ends(lines_df)
borders = lines.make_borders_df(bins_x0, bins_x1)
display(x0_n, bins_x0, bins_x1)

3

,x0,lines,last_x0,count,page
7,"[392, 390, 389, 390, 390, 390, 389, 392, 389]","[0, 9, 12, 13, 16, 18, 25, 37, 39]",389,9,1
6,"[478, 477, 481, 477, 479, 477, 476, 477, 477, ...","[1, 2, 3, 5, 10, 14, 17, 19, 20, 22, 28, 29, 3...",475,15,1
5,"[780, 777, 778, 782, 780, 780, 778, 781, 781, ...","[4, 6, 7, 8, 11, 15, 21, 23, 24, 30, 33, 36, 38]",774,13,1

,x1,lines,last_x1,count,page
19,"[1716, 1713, 1715, 1713, 1713, 1714, 1711, 171...","[3, 5, 6, 7, 10, 14, 20, 22, 23, 24, 29, 31, 3...",1708,14,1

In [48]:
lines_df.loc[bins_x1["lines"].iloc[0]]

,line_text,x0,y0,x1,y1,page,dx
3,June 14th Act to provide for an eight-hour day...,481,455,1716,503,1,1235
5,"Aug. 7th Act of 24th December, 1903, respectin...",477,553,1713,592,1,1236
6,sation for injurics resulting from industrial ...,777,600,1715,639,1,938
7,"accidents, as amended by the Acts of 27th Augu...",778,648,1713,687,1,935
10,Jan. 6th Deerce regulating alien immigration i...,479,802,1713,840,1,1234
14,Mar. 22nd Regulations for the administration o...,477,1023,1714,1060,1,1237
20,Apr. 1st Act to amend the provisions of Sectio...,477,1348,1711,1387,1,1234
22,May 21st Administrative Order of the Governmen...,478,1442,1715,1481,1,1237
23,the Czecho-Slovakian Republic under Chapter II...,781,1490,1712,1527,1,931
24,"of the Act of 11th March, 1921, No. 100, respe...",781,1538,1713,1575,1,932
29,May 6th Act concerning the legal relations bet...,476,2400,1709,2439,1,1233
31,Sept. 27th Notification of the Minister of the...,477,2685,1709,2723,1,1232
35,Dec. 22nd Act relating to employment exchanges...,475,2875,1712,2914,1,1237
37,"1922 Feh, 1st Notification of the Minister of ...",392,2970,1708,3006,1,1316

In [7]:
li_df = label.assign_types(lines_df, bins_x0, bins_x1, x0_n)
l = label.assign_labels(li_df, x0_n)
li_df.head(20)

,line_text,x0,y0,x1,y1,page,dx,x0_type,x1_type
0,BELGIUM,392,308,560,336,1,168,0,0
1,May 24th Act to repeal Section 310 of the Pena...,478,364,2008,404,1,1530,1,1
2,May 24th Act to guarantec freedom of associati...,477,408,2007,456,1,1530,1,1
3,June 14th Act to provide for an eight-hour day...,481,455,1716,503,1,1235,1,2
4,eight hour week. T. .......-....2 0 eee e reec...,780,501,1873,548,1,1093,2,1
5,"Aug. 7th Act of 24th December, 1903, respectin...",477,553,1713,592,1,1236,1,2
6,sation for injurics resulting from industrial,777,600,1715,639,1,938,2,2
7,"accidents, as amended by the Acts of 27th Augu...",778,648,1713,687,1,935,2,2
8,"191g, and 7th August, 921. T............... Be...",782,696,1945,736,1,1163,2,1
9,BraziL,390,746,524,774,1,134,0,0
10,Jan. 6th Deerce regulating alien immigration i...,479,802,1713,840,1,1234,1,2
11,territory 2... ee ee eee Braz. 1,780,845,1904,893,1,1124,2,1
12,Bremen. See Germany (Bremen).,389,916,1063,954,1,674,0,0
13,CHILE,390,976,501,1006,1,111,0,0
14,Mar. 22nd Regulations for the administration o...,477,1023,1714,1060,1,1237,1,2
15,Creches Act®. Ts ice:assamsawvsewseaniansass C...,780,1070,2007,1109,1,1227,2,1
16,COLOMBIA,390,1124,576,1155,1,186,0,0
17,Nov. 18th Act to establish compulsory collecti...,476,1171,1872,1210,1,1396,1,1
18,CzECHO-SLOVAKIA,390,1243,735,1274,1,345,0,0
19,Mar. 11th Act for the encouragement of buildin...,477,1301,1924,1340,1,1447,1,1

In [8]:
cli_df = label.correct_x0_types(li_df, bins_x0, bins_x1, x0_n)
ll_df = label.assign_labels(cli_df, x0_n)

lli_df = ll_df.copy()
lli_df["new_label"] = lli_df["label"]
lli_df = label.improve_country_classification(lli_df)
#ll_df.to_csv("labeling_1986_full.csv")

lli_df

,line_text,x0,y0,x1,y1,page,dx,x0_type,x1_type,label,new_label
0,BELGIUM,392,308,560,336,1,168,0,0,country,country
1,May 24th Act to repeal Section 310 of the Pena...,478,364,2008,404,1,1530,1,1,other,other
2,May 24th Act to guarantec freedom of associati...,477,408,2007,456,1,1530,1,1,other,other
3,June 14th Act to provide for an eight-hour day...,481,455,1716,503,1,1235,1,2,start,start
4,eight hour week. T. .......-....2 0 eee e reec...,780,501,1873,548,1,1093,2,1,end,end
5,"Aug. 7th Act of 24th December, 1903, respectin...",477,553,1713,592,1,1236,1,2,start,start
6,sation for injurics resulting from industrial,777,600,1715,639,1,938,2,2,middle,middle
7,"accidents, as amended by the Acts of 27th Augu...",778,648,1713,687,1,935,2,2,middle,middle
8,"191g, and 7th August, 921. T............... Be...",782,696,1945,736,1,1163,2,1,end,end
9,BraziL,390,746,524,774,1,134,0,0,country,region
10,Jan. 6th Deerce regulating alien immigration i...,479,802,1713,840,1,1234,1,2,start,start
11,territory 2... ee ee eee Braz. 1,780,845,1904,893,1,1124,2,1,end,end
12,Bremen See Germany (Bremen),389,916,1063,954,1,674,0,0,country,region
13,CHILE,390,976,501,1006,1,111,0,0,country,country
14,Mar. 22nd Regulations for the administration o...,477,1023,1714,1060,1,1237,1,2,start,start
15,Creches Act®. Ts ice:assamsawvsewseaniansass C...,780,1070,2007,1109,1,1227,2,1,end,end
16,COLOMBIA,390,1124,576,1155,1,186,0,0,country,country
17,Nov. 18th Act to establish compulsory collecti...,476,1171,1872,1210,1,1396,1,1,other,other
18,CzECHOSLOVAKIA,390,1243,735,1274,1,345,0,0,country,country
19,Mar. 11th Act for the encouragement of buildin...,477,1301,1924,1340,1,1447,1,1,other,other
20,Apr. 1st Act to amend the provisions of Sectio...,477,1348,1711,1387,1,1234,1,2,start,start
21,of the Civil Code. T. 6... ccc eee ee ee eee C...,778,1391,1855,1437,1,1077,2,1,end,end
22,May 21st Administrative Order of the Governmen...,478,1442,1715,1481,1,1237,1,2,start,start
23,the Czecho-Slovakian Republic under Chapter III,781,1490,1712,1527,1,931,2,2,middle,middle
24,"of the Act of 11th March, 1921, No. 100, respe...",781,1538,1713,1575,1,932,2,2,middle,middle
25,the encouragement of building. S. ........... ...,389,1584,2012,2490,1,1623,0,1,other,other
26,. leave for workers engaged in the mining of ....,473,1679,1897,2534,1,1424,-1,1,other,other
27,Aug. r2th Act to prohibit coercion and to safe...,473,1916,1976,2345,1,1503,-1,1,other,other
28,May 6th Act respecting invalidity insurance. T...,475,2352,1885,2391,1,1410,1,1,other,other
29,May 6th Act concerning the legal relations bet...,476,2400,1709,2439,1,1233,1,2,start,start
30,"Act No. 144 of roth May, 1915, concerning re- ...",777,2543,1885,2771,1,1108,2,1,end,end
31,Sept. 27th Notification of the Minister of the...,477,2685,1709,2723,1,1232,1,2,start,start
32,,2172,0,2236,2710,1,64,-1,1,other,other
33,"etc., in the evening. T. .......-.... 0c eee e...",777,2777,2017,2823,1,1240,2,1,end,end
34,Dec. 21st Act respecting intervention in labou...,476,2827,1944,2866,1,1468,1,1,other,other
35,Dec. 22nd Act relating to employment exchanges...,475,2875,1712,2914,1,1237,1,2,start,start
36,"employment insurance, ctc. T. ..........005- T...",776,2923,2015,2962,1,1239,2,1,end,end
37,"1922 Feh, 1st Notification of the Minister of ...",392,2970,1708,3006,1,1316,0,2,other,other
38,cerning relief works. S. ....... Gi io eB ave ...,774,3014,2036,3058,1,1262,2,1,end,end
39,EcuabDor,389,3065,563,3094,1,174,0,0,country,region
40,Sept. 30th Act respecting occupational acciden...,464,3122,1909,3161,1,1445,-1,1,other,other
41,,399,3187,503,3192,1,104,-1,0,other,other
42,* See also list of Laws and Orders of years pr...,444,3217,1931,3256,1,1487,-1,1,other,other

In [9]:
rec_gr = records.group_records(lli_df)
rec = records.extract_records(lli_df)
rec

,country,region,text,page
0,INTERNATIONAL,,Convention between France and Poland respectin...,1
1,INTERNATIONAL,,Labour Treaty between France and Italy. 30th S...,1
2,INTERNATIONAL,,Convention between the Minister of Foreign Aff...,1
3,INTERNATIONAL,,Convention between France and the Czecho-Slova...,1
4,INTERNATIONAL,,Convention between the Minister of Foreign Aff...,1
...,...,...,...,...
219,URUGIJAY,,Resolution concerning ocdupational accidents i...,11
220,URUGIJAY,,Decree issuing new regulations under the Act r...,11
221,URUGIJAY,,Decree respecting the supervision of hours of ...,11
222,URUGIJAY,,Decree to include messengers under the Eight-H...,11
223,URUGIJAY,,. Act respecting occupational accidents. 15th ...,11

In [8]:
lines_df.loc[9]

line_text    BraziL
x0               390
y0               746
x1               524
y1               774
page               1
dx               134
Name: 9, dtype: object

In [11]:
pdf = pytesseract.image_to_pdf_or_hocr('test.jpg', extension='pdf')

In [12]:
with open('test.pdf', 'w+b') as f:
    f.write(pdf)

## Probleme
- Dokumente mit 2 Spalten
- Dokumente mit Länder-Überschrift über ganze Breite der Seite
- Erkennen, ab welcher Seite die eigentlichen Indexes beginnen
- Unnötigen Anfangstext auf der ersten Seite rausfiltern
    - 1920

## Fragen