In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import os
import fitz
import pytesseract
import io
import PyPDF2
import sys

from pprint import pprint
from PIL import Image
from pdf2image import convert_from_path

import util
import lines
import group
import label
import records
import extract

In [2]:
test_files_dir = ".././test_files/"
test_dfs_dir = test_files_dir + "tesseract_data_frames/"
test_output_dir = test_files_dir + "extracted_indexes/"
test_files = util.list_files(test_files_dir)
test_dfs = util.list_files(test_dfs_dir)
file = test_dfs[2]

indexes_path = "H:\Documents\Indexex\ILO_yearly_indices\\tesseract_data_frames"
indexes_csv = util.list_files(indexes_path, suffix=".csv")
output_dir = "H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes"

display(test_dfs, file)

['.././test_files/tesseract_data_frames/\\LS_index_1920.csv',
 '.././test_files/tesseract_data_frames/\\LS_index_1921.csv',
 '.././test_files/tesseract_data_frames/\\LS_index_1944.csv',
 '.././test_files/tesseract_data_frames/\\LS_index_1976.csv',
 '.././test_files/tesseract_data_frames/\\LS_index_1986.csv',
 '.././test_files/tesseract_data_frames/\\LS_index_1986_split.csv']

'.././test_files/tesseract_data_frames/\\LS_index_1944.csv'

In [3]:
#pdf_df = util.ocr(file, start_page=1, save_to=".././test_files")
pdf_df = pd.read_csv(file)
lines_df = lines.make_lines_df_from_ocr(pdf_df)
bins_x0, bins_x1, x0_n = group.group_line_starts_ends(lines_df)
borders = lines.make_borders_df(bins_x0, bins_x1)

lines_df

,line_text,artifact_text,x0,y0,x1,y1,page,dx
0,INTERNATIONAL LABOUR OFFICE,,144,342,1899,405,1,1755
1,"LEGISLATIVE SERIES, 1944",,137,1363,1897,1512,1,1760
2,INDEXES,,808,2129,1232,2180,1,424
3,"MONTREAL, CANADA",,719,3137,1314,3181,1,595
4,1946,,967,3207,1072,3248,1,105
...,...,...,...,...,...,...,...,...
4162,Apr. 28 L.D. respecting the organisation of la...,,345,2947,2056,2991,82,1711
4163,agreements; labour courts]. No. 311. (Zb. pp. ...,,608,2993,1881,3039,82,1273
4164,G.O. = Gaceta Oficial de los Estados Unidos de...,,351,3081,1649,3126,82,1298
4165,"Zb. = Zbornik sakona 1 naredaba,",,345,3138,1087,3177,82,742
4166,LS. 1940 (Ven. 1).,,348,3239,842,3283,82,494

In [4]:
#rec_df = extract.extract_indexes(pdf_df, save_to=test_output_dir + os.path.basename(file))
rec_df = extract.extract_indexes(pdf_df)
#rec_df.to_csv("LS_index_1944.csv")
rec_df

,country,region,text,page
0,ARGENTINE REPUBLIC,,"June 3 Decree No. 13,943/44, to repeal section...",3
1,ARGENTINE REPUBLIC,,"Sept. 11 Decrees No. 24,335/44 and 24,336/44, ...",3
2,ARGENTINE REPUBLIC,,"Nov. 4 Decree No. 29,830/44, to amend certain ...",3
3,AUSTRALIA,,"Apr. 6 An Act to,amend the Invalid and Old-age...",3
4,AUSTRALIA,,Dec. 21 Amendment of the National Security (In...,3
...,...,...,...,...
1315,URUGUAY,,"Nov.:30 ‘Decree No. 283, fo setup a National C...",82
1316,URUGUAY,,"j . of Social Services. (G.O,: 4th December, 1...",82
1317,URUGUAY,,Dec. 28 Mines Act [repeals Mines Act of 7th Au...,82
1318,URUGUAY,,"Dec, 28-,, ‘Decree No. 305: 1 to promulgate th...",82
1319,URUGUAY,,"7? “""“ ""Act [repeals the Regulations of 30th O...",82

In [7]:
rec_df.loc[rec_df["page"]==11]

,country,region,text,page
112,SWITZERLAND,,June 9 Resolution of the Federal Council to re...,11
113,SWITZERLAND,,June 9 Resolution of the Federal Council to am...,11
114,SWITZERLAND,,June 9 Resolution of the Federal Council to am...,11
115,SWITZERLAND,,Oct. 10 Resolutions of the Federal Council to ...,11
116,SWITZERLAND,,Dec. 22 Resolution of the Federal Council to r...,11
117,UNION OF SOUTH AFRICA,,May 30 Act to amend... the Native Service Cont...,11
118,UNION OF SOUTH AFRICA,,June 6 Act to amend ... the Old Age Pensions A...,11
119,NORTHERN IRELAND,,July 28 National Health Insurance (Emergency) ...,11
120,NORTHERN IRELAND,,"Dec. 21 Expiring Laws Continuance Act, 1944 [s...",11
121,NORTHERN IRELAND,Northern Ireland,June 6 An Act to amend certain provisions of t...,11
122,NORTHERN IRELAND,Northern Ireland,E.G. = Eidgendssische Gesetssammlung.,11
123,NORTHERN IRELAND,Northern Ireland,"1941, 24th February, 1942, and 26th January, 1...",11
124,NORTHERN IRELAND,Northern Ireland,"ES. 1940 (Switz. 1). — *L.S. 1940 (Switz. 5, B).",11
125,NORTHERN IRELAND,Northern Ireland,ES. 1932 (S.A. 1). — ®L.S. 1928 (S.A. 1); amen...,11
126,NORTHERN IRELAND,Northern Ireland,"(G.B. 5). — ° LS. 1923 (G.B. 3), — *L.S. 1932 ...",11

In [15]:
def group_lines(df, by):
    #d = 4 old value without ocr
    d = 20
    last = "last_" + by
    last_m = last + "_mean"
    bins = pd.DataFrame(columns=[by, "lines", last, last_m, "count"])

    for index, row in df.iterrows():
        x0 = row[by]
        poss_bin = bins.loc[(bins[last_m]-d <= x0) & (bins[last_m]+d >= x0)]

        if poss_bin.empty:
            new_row = pd.DataFrame({
                by: [x0],
                "lines": [index],
                last: [x0],
                last_m: [x0],
                "count": 1
            })
            bins = pd.concat([new_row, bins.loc[:]]).reset_index(drop=True)
        else:
            b = bins.iloc[poss_bin.index[-1]]

            if not type(b[0]) is list:
                b[0] = [b[0]]
                b[1] = [b[1]]
                b[2] = [b[2]]

            b[by].append(x0)
            b["lines"].append(index)
            b["count"] += 1
            
            if len(b[last]) >= 2:
                b[last].pop(0)
            b[last].append(x0)
            
            last_mean = b[last]
            if type(last_mean) is list:
                last_mean = sum(b[last]) / len(b[last])
            b[last_m] = last_mean
            

    return bins

In [16]:
def get_relevant_x0_bins(bins_x0, x0_n, drop_first=False):

    bins_x0_rel = pd.DataFrame(columns=bins_x0.columns)
    for p_no, p in bins_x0.groupby("page"):
        x = p.sort_values(by="last_x0_mean")

        if drop_first:
            x = x.drop(x.iloc[0].name)

        bins_x0_rel = pd.concat([bins_x0_rel, x.iloc[0:1]]) # add lines that start by the left text border

        z = x.drop(x.iloc[0].name)
        z = z.sort_values(by="count", ascending=False).iloc[0:x0_n-1].sort_values(by="last_x0_mean")
        bins_x0_rel = pd.concat([bins_x0_rel, z]) # add the other x0_n-1 bins

    return bins_x0_rel

In [17]:
reg_art = "^[\W_]*([oeau]{2,})?\s?[\W_]*(?<!\()"
re.search(reg_art, ".. 11th k")

In [18]:
lines_df.loc[lines_df["page"]==9]

,line_text,artifact_text,x0,y0,x1,y1,page,dx
323,g — 1944—-Indexes I,—,898,313,1839,347,9,941
324,NORWAY (continued),,92,400,692,455,9,600
325,Aug. 24 Act to amend provisionally the Act of ...,,137,489,1835,560,9,1698
326,"i old age pensions’. .(N.L. Part I, p. 408; Pa...",,112,534,1663,597,9,1551
327,Oct. 19 Act to amend [the first paragraph of s...,,136,610,1834,665,9,1698
328,"April, 1942, to supplement the Act of 6th June...",,391,664,1833,744,9,1442
329,"sickness insurance”. (N.L. Part I, pp. 475-476...",,389,704,1827,759,9,1438
330,PANAMA,,89,796,353,840,9,264
331,"Aug, 22 L.D. No. 55, to make an addition to Pa...",,117,900,1833,943,9,1716
332,"27th April, 1943, respecting social insurance“...",,385,946,1835,992,9,1450
333,investments of the Social Insurance Fund. (Gac...,,391,992,1830,1040,9,1439
334,"August, 1944, No, 9486, p. 5) oo",,391,1034,1702,1108,9,1311
335,PORTUGAL,,90,1115,421,1169,9,331
336,"Feb. 21 L.D. No. 33,534, to amend section 13 o...",,134,1205,1833,1280,9,1699
337,"April, 1943, respecting minimum wages” [fine f...",,389,1267,1831,1352,9,1442
338,"offence}. (Diario do Govérno, p. 137):",,389,1301,1247,1389,9,858
339,"June 29 LD: No. 33,744, to issue various provi...",,134,1385,1833,1455,9,1699
340,relating to labour dues and te amend..... sect...,,392,1425,1831,1494,9,1439
341,"No. 32,749 of 15th April, 1943, respecting: mi...",,391,1486,1833,1532,9,1442
342,the sole subsection of section 34 of L.D. No. ...,,391,1516,1831,1577,9,1440
343,"1944, respecting family allowances], (Diario d...",,393,1557,1833,1624,9,1440
344,"587-5B8 ; erratum: D.G. 1945, p. 91) ee ee",,392,1605,1826,1665,9,1434
345,Jan. 26. Decree to set forth the conditions to...,,136,1809,1834,1861,9,1698
346,terminating operations in undertakings [repeal...,oe,413,1824,1833,1904,9,1420
347,"November, 1935, respecting the dismissal of em...",‘,380,1897,1834,1946,9,1454
348,"shortage of work®], (Boletin oficial del Estad...",,389,1928,1831,2032,9,1442
349,"1944, pp. 1087-1089) ,",,393,1989,974,2032,9,581
350,Nov. 25 Act to repeal the Act of 9th September...,,137,2065,1834,2111,9,1697
351,"Tes ‘of 25th May, 1931, to set up the National...",,92,2092,1831,2160,9,1739
352,"(Boletin Oficial del: Estado, ‘27th November, ...",,395,2140,1629,2217,9,1234
353,SWEDEN,,90,2248,356,2305,9,266
354,"Mar. 7 Act No. 79, to amend section 13 (third ...",;,149,2321,1835,2392,9,1686
355,"Hours of Work Act of 30th September, 1938 (No....",,392,2373,1834,2435,9,1442
356,to time off duty in return for overtime work]....,,393,2432,1761,2507,9,1368
357,"Mar. 17 Act No. 92, to continue in. operation ...",,138,2489,1835,2596,9,1697
358,"934 of 30th December, 1939, respecting liabili...",,391,2557,1833,2639,9,1442
359,p. 257),,391,2604,528,2648,9,137
360,"Mar, 17 Act No. 93, to continue in operation (...",,138,2641,1835,2733,9,1697
361,"No. 935 of 30th December, 1939, to extend in c...",,393,2709,1834,2766,9,1441
362,"the application of Act No. 245 of 28th May, 19...",,393,2754,1837,2815,9,1444
363,conciliation in labour disputes®. (S.F. p. 257),,389,2813,1453,2860,9,1064
364,SF. = Svensk foérfattningssamling.,,120,2913,886,2965,9,766
365,L.S. 1936 (Nor. 4); amendments: 1937 (Nor. 5);...,*,104,3008,1837,3093,9,1733
366,1930 (Nor. 2); amendments: 1932 (Nor. 4); 1933...,,94,3065,1834,3132,9,1740
367,(Nor. 2); 1937 (Nor. 1); 1941 (Nor. 1); 1942 (...,,94,3116,1699,3180,9,1605
368,SES. 1943 (Pan. 1). *°L.S. 1943 (Por. 1). — 71...,,136,3161,1755,3264,9,1619
369,"LS. 1935 (Sp. 3, B). Ls 1931 (Sp. 5). — @L.S. ...",“,108,3200,1629,3269,9,1521
370,TS. 1939 (Swe. 8). —*L.S. 1920 (Swe. 6); amend...,"""",152,3248,1833,3316,9,1681

In [19]:
d = lines_df.loc[lines_df["page"]==9]
d_x0 = group_lines(d, "x0")
d_x0["page"] = 9
d_x0

,x0,lines,last_x0,last_x0_mean,count,page
0,152,370,152,152,1,9
1,413,346,413,413,1,9
2,"[391, 389, 385, 391, 391, 389, 389, 392, 391, ...","[328, 329, 332, 333, 334, 337, 338, 340, 341, ...","[393, 389]",391.0,23,9
3,"[137, 136, 134, 134, 136, 137, 149, 138, 138, ...","[325, 327, 336, 339, 345, 350, 354, 357, 360, ...","[120, 136]",128.0,11,9
4,"[92, 112, 89, 117, 90, 92, 90, 104, 94, 94, 108]","[324, 326, 330, 331, 335, 351, 353, 365, 366, ...","[94, 108]",101.0,11,9
5,898,323,898,898,1,9

In [20]:
r_x0 = get_relevant_x0_bins(d_x0, 3)
r_x0

,x0,lines,last_x0,last_x0_mean,count,page
4,"[92, 112, 89, 117, 90, 92, 90, 104, 94, 94, 108]","[324, 326, 330, 331, 335, 351, 353, 365, 366, ...","[94, 108]",101.0,11,9
3,"[137, 136, 134, 134, 136, 137, 149, 138, 138, ...","[325, 327, 336, 339, 345, 350, 354, 357, 360, ...","[120, 136]",128.0,11,9
2,"[391, 389, 385, 391, 391, 389, 389, 392, 391, ...","[328, 329, 332, 333, 334, 337, 338, 340, 341, ...","[393, 389]",391.0,23,9

In [21]:
lines_df.loc[r_x0.iloc[0]["lines"]]

,line_text,artifact_text,x0,y0,x1,y1,page,dx
324,NORWAY (continued),,92,400,692,455,9,600
326,"i old age pensions’. .(N.L. Part I, p. 408; Pa...",,112,534,1663,597,9,1551
330,PANAMA,,89,796,353,840,9,264
331,"Aug, 22 L.D. No. 55, to make an addition to Pa...",,117,900,1833,943,9,1716
335,PORTUGAL,,90,1115,421,1169,9,331
351,"Tes ‘of 25th May, 1931, to set up the National...",,92,2092,1831,2160,9,1739
353,SWEDEN,,90,2248,356,2305,9,266
365,L.S. 1936 (Nor. 4); amendments: 1937 (Nor. 5);...,*,104,3008,1837,3093,9,1733
366,1930 (Nor. 2); amendments: 1932 (Nor. 4); 1933...,,94,3065,1834,3132,9,1740
367,(Nor. 2); 1937 (Nor. 1); 1941 (Nor. 1); 1942 (...,,94,3116,1699,3180,9,1605
369,"LS. 1935 (Sp. 3, B). Ls 1931 (Sp. 5). — @L.S. ...",“,108,3200,1629,3269,9,1521

In [7]:
df = label.assign_types(lines_df, bins_x0, bins_x1, x0_n)
df = label.assign_labels(df, x0_n)

co_df, p_l, p_g = label.correct_x0_types(df, bins_x0, bins_x1, x0_n)
ind_df = label.assign_labels(co_df, x0_n)
ind_df = label.approve_correction(df, ind_df, p_l)

ind_df["new_label"] = ind_df["label"]
ind_df = label.improve_country_classification(ind_df)

ind_df = records.extract_records(ind_df)

In [22]:
df.loc[df["page"]==9]

,line_text,artifact_text,x0,y0,x1,y1,page,dx,x0_type,x1_type,label
323,g — 1944—-Indexes I,—,898,313,1839,347,9,941,-1,2,other
324,NORWAY (continued),,92,400,692,455,9,600,0,0,country
325,Aug. 24 Act to amend provisionally the Act of ...,,137,489,1835,560,9,1698,1,2,start
326,"i old age pensions’. .(N.L. Part I, p. 408; Pa...",,112,534,1663,597,9,1551,0,1,country
327,Oct. 19 Act to amend [the first paragraph of s...,,136,610,1834,665,9,1698,1,2,start
328,"April, 1942, to supplement the Act of 6th June...",,391,664,1833,744,9,1442,2,2,middle
329,"sickness insurance”. (N.L. Part I, pp. 475-476...",,389,704,1827,759,9,1438,2,2,middle
330,PANAMA,,89,796,353,840,9,264,0,0,country
331,"Aug, 22 L.D. No. 55, to make an addition to Pa...",,117,900,1833,943,9,1716,0,2,other
332,"27th April, 1943, respecting social insurance“...",,385,946,1835,992,9,1450,2,2,middle
333,investments of the Social Insurance Fund. (Gac...,,391,992,1830,1040,9,1439,2,2,middle
334,"August, 1944, No, 9486, p. 5) oo",,391,1034,1702,1108,9,1311,2,1,end
335,PORTUGAL,,90,1115,421,1169,9,331,0,0,country
336,"Feb. 21 L.D. No. 33,534, to amend section 13 o...",,134,1205,1833,1280,9,1699,1,2,start
337,"April, 1943, respecting minimum wages” [fine f...",,389,1267,1831,1352,9,1442,2,2,middle
338,"offence}. (Diario do Govérno, p. 137):",,389,1301,1247,1389,9,858,2,0,end
339,"June 29 LD: No. 33,744, to issue various provi...",,134,1385,1833,1455,9,1699,1,2,start
340,relating to labour dues and te amend..... sect...,,392,1425,1831,1494,9,1439,2,2,middle
341,"No. 32,749 of 15th April, 1943, respecting: mi...",,391,1486,1833,1532,9,1442,2,2,middle
342,the sole subsection of section 34 of L.D. No. ...,,391,1516,1831,1577,9,1440,2,2,middle
343,"1944, respecting family allowances], (Diario d...",,393,1557,1833,1624,9,1440,2,2,middle
344,"587-5B8 ; erratum: D.G. 1945, p. 91) ee ee",,392,1605,1826,1665,9,1434,2,2,middle
345,Jan. 26. Decree to set forth the conditions to...,,136,1809,1834,1861,9,1698,1,2,start
346,terminating operations in undertakings [repeal...,oe,413,1824,1833,1904,9,1420,-1,2,other
347,"November, 1935, respecting the dismissal of em...",‘,380,1897,1834,1946,9,1454,2,2,middle
348,"shortage of work®], (Boletin oficial del Estad...",,389,1928,1831,2032,9,1442,2,2,middle
349,"1944, pp. 1087-1089) ,",,393,1989,974,2032,9,581,2,0,end
350,Nov. 25 Act to repeal the Act of 9th September...,,137,2065,1834,2111,9,1697,1,2,start
351,"Tes ‘of 25th May, 1931, to set up the National...",,92,2092,1831,2160,9,1739,0,2,other
352,"(Boletin Oficial del: Estado, ‘27th November, ...",,395,2140,1629,2217,9,1234,2,1,end
353,SWEDEN,,90,2248,356,2305,9,266,0,0,country
354,"Mar. 7 Act No. 79, to amend section 13 (third ...",;,149,2321,1835,2392,9,1686,1,2,start
355,"Hours of Work Act of 30th September, 1938 (No....",,392,2373,1834,2435,9,1442,2,2,middle
356,to time off duty in return for overtime work]....,,393,2432,1761,2507,9,1368,2,1,end
357,"Mar. 17 Act No. 92, to continue in. operation ...",,138,2489,1835,2596,9,1697,1,2,start
358,"934 of 30th December, 1939, respecting liabili...",,391,2557,1833,2639,9,1442,2,2,middle
359,p. 257),,391,2604,528,2648,9,137,2,0,end
360,"Mar, 17 Act No. 93, to continue in operation (...",,138,2641,1835,2733,9,1697,1,2,start
361,"No. 935 of 30th December, 1939, to extend in c...",,393,2709,1834,2766,9,1441,2,2,middle
362,"the application of Act No. 245 of 28th May, 19...",,393,2754,1837,2815,9,1444,2,2,middle
363,conciliation in labour disputes®. (S.F. p. 257),,389,2813,1453,2860,9,1064,2,1,end
364,SF. = Svensk foérfattningssamling.,,120,2913,886,2965,9,766,1,0,start
365,L.S. 1936 (Nor. 4); amendments: 1937 (Nor. 5);...,*,104,3008,1837,3093,9,1733,0,2,other
366,1930 (Nor. 2); amendments: 1932 (Nor. 4); 1933...,,94,3065,1834,3132,9,1740,0,2,other
367,(Nor. 2); 1937 (Nor. 1); 1941 (Nor. 1); 1942 (...,,94,3116,1699,3180,9,1605,0,1,country
368,SES. 1943 (Pan. 1). *°L.S. 1943 (Por. 1). — 71...,,136,3161,1755,3264,9,1619,1,1,start
369,"LS. 1935 (Sp. 3, B). Ls 1931 (Sp. 5). — @L.S. ...",“,108,3200,1629,3269,9,1521,0,1,country
370,TS. 1939 (Swe. 8). —*L.S. 1920 (Swe. 6); amend...,"""",152,3248,1833,3316,9,1681,-1,2,other

In [23]:
co_df.loc[co_df["page"]==9]

,line_text,artifact_text,x0,y0,x1,y1,page,dx,x0_type,x1_type,label
323,g — 1944—-Indexes I,—,898,313,1839,347,9,941,-1,2,other
324,NORWAY (continued),,92,400,692,455,9,600,1,0,country
325,Aug. 24 Act to amend provisionally the Act of ...,,137,489,1835,560,9,1698,2,2,start
326,"i old age pensions’. .(N.L. Part I, p. 408; Pa...",,112,534,1663,597,9,1551,1,1,country
327,Oct. 19 Act to amend [the first paragraph of s...,,136,610,1834,665,9,1698,2,2,start
328,"April, 1942, to supplement the Act of 6th June...",,391,664,1833,744,9,1442,3,2,middle
329,"sickness insurance”. (N.L. Part I, pp. 475-476...",,389,704,1827,759,9,1438,3,2,middle
330,PANAMA,,89,796,353,840,9,264,1,0,country
331,"Aug, 22 L.D. No. 55, to make an addition to Pa...",,117,900,1833,943,9,1716,1,2,other
332,"27th April, 1943, respecting social insurance“...",,385,946,1835,992,9,1450,3,2,middle
333,investments of the Social Insurance Fund. (Gac...,,391,992,1830,1040,9,1439,3,2,middle
334,"August, 1944, No, 9486, p. 5) oo",,391,1034,1702,1108,9,1311,3,1,end
335,PORTUGAL,,90,1115,421,1169,9,331,1,0,country
336,"Feb. 21 L.D. No. 33,534, to amend section 13 o...",,134,1205,1833,1280,9,1699,2,2,start
337,"April, 1943, respecting minimum wages” [fine f...",,389,1267,1831,1352,9,1442,3,2,middle
338,"offence}. (Diario do Govérno, p. 137):",,389,1301,1247,1389,9,858,3,0,end
339,"June 29 LD: No. 33,744, to issue various provi...",,134,1385,1833,1455,9,1699,2,2,start
340,relating to labour dues and te amend..... sect...,,392,1425,1831,1494,9,1439,3,2,middle
341,"No. 32,749 of 15th April, 1943, respecting: mi...",,391,1486,1833,1532,9,1442,3,2,middle
342,the sole subsection of section 34 of L.D. No. ...,,391,1516,1831,1577,9,1440,3,2,middle
343,"1944, respecting family allowances], (Diario d...",,393,1557,1833,1624,9,1440,3,2,middle
344,"587-5B8 ; erratum: D.G. 1945, p. 91) ee ee",,392,1605,1826,1665,9,1434,3,2,middle
345,Jan. 26. Decree to set forth the conditions to...,,136,1809,1834,1861,9,1698,2,2,start
346,terminating operations in undertakings [repeal...,oe,413,1824,1833,1904,9,1420,-1,2,other
347,"November, 1935, respecting the dismissal of em...",‘,380,1897,1834,1946,9,1454,3,2,middle
348,"shortage of work®], (Boletin oficial del Estad...",,389,1928,1831,2032,9,1442,3,2,middle
349,"1944, pp. 1087-1089) ,",,393,1989,974,2032,9,581,3,0,end
350,Nov. 25 Act to repeal the Act of 9th September...,,137,2065,1834,2111,9,1697,2,2,start
351,"Tes ‘of 25th May, 1931, to set up the National...",,92,2092,1831,2160,9,1739,1,2,other
352,"(Boletin Oficial del: Estado, ‘27th November, ...",,395,2140,1629,2217,9,1234,3,1,end
353,SWEDEN,,90,2248,356,2305,9,266,1,0,country
354,"Mar. 7 Act No. 79, to amend section 13 (third ...",;,149,2321,1835,2392,9,1686,2,2,start
355,"Hours of Work Act of 30th September, 1938 (No....",,392,2373,1834,2435,9,1442,3,2,middle
356,to time off duty in return for overtime work]....,,393,2432,1761,2507,9,1368,3,1,end
357,"Mar. 17 Act No. 92, to continue in. operation ...",,138,2489,1835,2596,9,1697,2,2,start
358,"934 of 30th December, 1939, respecting liabili...",,391,2557,1833,2639,9,1442,3,2,middle
359,p. 257),,391,2604,528,2648,9,137,3,0,end
360,"Mar, 17 Act No. 93, to continue in operation (...",,138,2641,1835,2733,9,1697,2,2,start
361,"No. 935 of 30th December, 1939, to extend in c...",,393,2709,1834,2766,9,1441,3,2,middle
362,"the application of Act No. 245 of 28th May, 19...",,393,2754,1837,2815,9,1444,3,2,middle
363,conciliation in labour disputes®. (S.F. p. 257),,389,2813,1453,2860,9,1064,3,1,end
364,SF. = Svensk foérfattningssamling.,,120,2913,886,2965,9,766,2,0,start
365,L.S. 1936 (Nor. 4); amendments: 1937 (Nor. 5);...,*,104,3008,1837,3093,9,1733,1,2,other
366,1930 (Nor. 2); amendments: 1932 (Nor. 4); 1933...,,94,3065,1834,3132,9,1740,1,2,other
367,(Nor. 2); 1937 (Nor. 1); 1941 (Nor. 1); 1942 (...,,94,3116,1699,3180,9,1605,1,1,country
368,SES. 1943 (Pan. 1). *°L.S. 1943 (Por. 1). — 71...,,136,3161,1755,3264,9,1619,2,1,start
369,"LS. 1935 (Sp. 3, B). Ls 1931 (Sp. 5). — @L.S. ...",“,108,3200,1629,3269,9,1521,1,1,country
370,TS. 1939 (Swe. 8). —*L.S. 1920 (Swe. 6); amend...,"""",152,3248,1833,3316,9,1681,-1,2,other

In [26]:
co, p_l, p_g = correct_x0_types(df, bins_x0, bins_x1, x0_n)

Width median 1752.2894736842106
[(1658.9333333333332, 2), (1775.093023255814, 14), (1703.0959302325582, 15), (1709.0063795853268, 25), (1707.2626538987688, 39), (1828.5263157894738, 64), (1705.3108974358975, 69), (1726.8848484848486, 70), (1703.9268292682927, 77), (1728.189024390244, 78), (1702.4452690166975, 79), (1732.2894736842106, 81)]
Pages small width [2, 15, 25, 39, 69, 70, 77, 78, 79, 81]
Pages big width [14, 64]

In [28]:
co.loc[co["page"]==9]

,line_text,artifact_text,x0,y0,x1,y1,page,dx,x0_type,x1_type,label
323,g — 1944—-Indexes I,—,898,313,1839,347,9,941,-1,2,other
324,NORWAY (continued),,92,400,692,455,9,600,0,0,country
325,Aug. 24 Act to amend provisionally the Act of ...,,137,489,1835,560,9,1698,1,2,start
326,"i old age pensions’. .(N.L. Part I, p. 408; Pa...",,112,534,1663,597,9,1551,0,1,country
327,Oct. 19 Act to amend [the first paragraph of s...,,136,610,1834,665,9,1698,1,2,start
328,"April, 1942, to supplement the Act of 6th June...",,391,664,1833,744,9,1442,2,2,middle
329,"sickness insurance”. (N.L. Part I, pp. 475-476...",,389,704,1827,759,9,1438,2,2,middle
330,PANAMA,,89,796,353,840,9,264,0,0,country
331,"Aug, 22 L.D. No. 55, to make an addition to Pa...",,117,900,1833,943,9,1716,0,2,other
332,"27th April, 1943, respecting social insurance“...",,385,946,1835,992,9,1450,2,2,middle
333,investments of the Social Insurance Fund. (Gac...,,391,992,1830,1040,9,1439,2,2,middle
334,"August, 1944, No, 9486, p. 5) oo",,391,1034,1702,1108,9,1311,2,1,end
335,PORTUGAL,,90,1115,421,1169,9,331,0,0,country
336,"Feb. 21 L.D. No. 33,534, to amend section 13 o...",,134,1205,1833,1280,9,1699,1,2,start
337,"April, 1943, respecting minimum wages” [fine f...",,389,1267,1831,1352,9,1442,2,2,middle
338,"offence}. (Diario do Govérno, p. 137):",,389,1301,1247,1389,9,858,2,0,end
339,"June 29 LD: No. 33,744, to issue various provi...",,134,1385,1833,1455,9,1699,1,2,start
340,relating to labour dues and te amend..... sect...,,392,1425,1831,1494,9,1439,2,2,middle
341,"No. 32,749 of 15th April, 1943, respecting: mi...",,391,1486,1833,1532,9,1442,2,2,middle
342,the sole subsection of section 34 of L.D. No. ...,,391,1516,1831,1577,9,1440,2,2,middle
343,"1944, respecting family allowances], (Diario d...",,393,1557,1833,1624,9,1440,2,2,middle
344,"587-5B8 ; erratum: D.G. 1945, p. 91) ee ee",,392,1605,1826,1665,9,1434,2,2,middle
345,Jan. 26. Decree to set forth the conditions to...,,136,1809,1834,1861,9,1698,1,2,start
346,terminating operations in undertakings [repeal...,oe,413,1824,1833,1904,9,1420,-1,2,other
347,"November, 1935, respecting the dismissal of em...",‘,380,1897,1834,1946,9,1454,2,2,middle
348,"shortage of work®], (Boletin oficial del Estad...",,389,1928,1831,2032,9,1442,2,2,middle
349,"1944, pp. 1087-1089) ,",,393,1989,974,2032,9,581,2,0,end
350,Nov. 25 Act to repeal the Act of 9th September...,,137,2065,1834,2111,9,1697,1,2,start
351,"Tes ‘of 25th May, 1931, to set up the National...",,92,2092,1831,2160,9,1739,0,2,other
352,"(Boletin Oficial del: Estado, ‘27th November, ...",,395,2140,1629,2217,9,1234,2,1,end
353,SWEDEN,,90,2248,356,2305,9,266,0,0,country
354,"Mar. 7 Act No. 79, to amend section 13 (third ...",;,149,2321,1835,2392,9,1686,1,2,start
355,"Hours of Work Act of 30th September, 1938 (No....",,392,2373,1834,2435,9,1442,2,2,middle
356,to time off duty in return for overtime work]....,,393,2432,1761,2507,9,1368,2,1,end
357,"Mar. 17 Act No. 92, to continue in. operation ...",,138,2489,1835,2596,9,1697,1,2,start
358,"934 of 30th December, 1939, respecting liabili...",,391,2557,1833,2639,9,1442,2,2,middle
359,p. 257),,391,2604,528,2648,9,137,2,0,end
360,"Mar, 17 Act No. 93, to continue in operation (...",,138,2641,1835,2733,9,1697,1,2,start
361,"No. 935 of 30th December, 1939, to extend in c...",,393,2709,1834,2766,9,1441,2,2,middle
362,"the application of Act No. 245 of 28th May, 19...",,393,2754,1837,2815,9,1444,2,2,middle
363,conciliation in labour disputes®. (S.F. p. 257),,389,2813,1453,2860,9,1064,2,1,end
364,SF. = Svensk foérfattningssamling.,,120,2913,886,2965,9,766,1,0,start
365,L.S. 1936 (Nor. 4); amendments: 1937 (Nor. 5);...,*,104,3008,1837,3093,9,1733,0,2,other
366,1930 (Nor. 2); amendments: 1932 (Nor. 4); 1933...,,94,3065,1834,3132,9,1740,0,2,other
367,(Nor. 2); 1937 (Nor. 1); 1941 (Nor. 1); 1942 (...,,94,3116,1699,3180,9,1605,0,1,country
368,SES. 1943 (Pan. 1). *°L.S. 1943 (Por. 1). — 71...,,136,3161,1755,3264,9,1619,1,1,start
369,"LS. 1935 (Sp. 3, B). Ls 1931 (Sp. 5). — @L.S. ...",“,108,3200,1629,3269,9,1521,0,1,country
370,TS. 1939 (Swe. 8). —*L.S. 1920 (Swe. 6); amend...,"""",152,3248,1833,3316,9,1681,-1,2,other

In [9]:
ind_df.loc[ind_df["page"]==10]

    country region                                               text  page
90   SWEDEN         on _ workers’ protection™, . (S.F,-p, 259)» - ...    10
91   SWEDEN         1931, respecting sick funds® <r (S.F. pp. 444-...    10
92   SWEDEN         SWITZERLAND CONFEDERATION Jan. 400 Resolution ...    10
93   SWEDEN         1935 (Swe. 4); 1936 (Swe. 7, A); see also: 193...    10
94   SWEDEN         (Swe. 2, C). * Consolidated text: L.S. 1931 (S...    10
95   SWEDEN         (Swe. 2); 1937 (Swe. 3); 1938 (Swe. 4). — *"L....    10
96   SWEDEN         1 S, 1930 (Swe. 1); amendments: L.S. 1938 (Swe...    10
97   SWEDEN         1942 (Swe. 2, B). — “LS. 1940 (Swe. 1, A). 1S....    10
98   SWEDEN         Bulletin of the International Labour Office (B...    10
99   SWEDEN         269-283, and Vol. XIV, 1919, pp. 205-209. — “L...    10
100  SWEDEN         4); see also Orders of 19th September, 1941, 2...    10
101  SWEDEN         January, 1943, — *L.S, 1940 (Switz. 4, C); see...    10

In [25]:
# correct x0_type for pages where something went wrong
def correct_x0_types(lines_df, bins_x0, bins_x1, x0_n):
    df = lines_df.copy()
    start_page = lines_df["page"].min()

    text_widths = list(lines.make_borders_df(bins_x0, bins_x1)["dx"]) # difference between mean of first and last bin for x0 for every page

    tw = text_widths.copy()
    tw.sort()
    width_median = tw[int(len(tw)/2)]
    print("Width median", width_median)

    f = filter(lambda w: (not util.similar_to(w, width_median, 20)), text_widths) # filter widths that differ from the rest
    f = list(f)

    p = []
    for w in range(len(f)):
        p.append((f[w], text_widths.index(f[w]) + start_page)) # add page to strange width
    
    print(p)

    p_l = [a for w, a in p if w<width_median]
    p_g = [a for w, a in p if w>width_median]
    
    print("Pages small width", p_l)
    print("Pages big width", p_g)

    df.loc[df["page"].isin(p_l) & (df["x0_type"]>=0), "x0_type"] +=1 # correct wrong x0_type for p_l

    # correct wrong x0_type (and x1_type) for p_g
    bins = group.get_line_start_end_bins(df.loc[df["page"].isin(p_g)])
    bins_x0_cor = group.get_relevant_x0_bins(bins[0], x0_n, drop_first=True) # drop bin on the very left
    df_cor = label.assign_types(df.loc[df["page"].isin(p_g)], bins_x0_cor, bins_x1.loc[bins_x1["page"].isin(p_g)], x0_n)
    df.loc[df["page"].isin(p_g), ["x0_type", "x1_type"]] = df_cor[["x0_type", "x1_type"]]

    return df, p_l, p_g

In [17]:
for i, file in enumerate(indexes_csv):
    save_path = output_dir + os.sep + os.path.basename(file)
    extract.extract_indexes(pd.read_csv(file), save_to=save_path)

Saved extracted indexes to H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes\LS_index_1976.csv.
Saved extracted indexes to H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes\LS_index_1977.csv.
Saved extracted indexes to H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes\LS_index_1978.csv.
Saved extracted indexes to H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes\LS_index_1979.csv.
Saved extracted indexes to H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes\LS_index_1981.csv.
Saved extracted indexes to H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes\LS_index_1982.csv.
Saved extracted indexes to H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes\LS_Index_1983.csv.
Saved extracted indexes to H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes\LS_index_1983_Spanish.csv.
Saved extracted indexes to H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes\LS_index_1984.csv.
Saved extracted indexes to H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes\LS_index_1985-1.csv.
Saved extracted indexes to H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes\LS_index_1986.csv.
Saved extracted indexes to H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes\LS_index_1987.csv.
Saved extracted indexes to H:\Documents\Indexex\ILO_yearly_indices\extracted_indexes\LS_index_1988_Spanish.csv.

## Probleme
- Dokumente mit 2 Spalten FIXED
- Dokumente mit Länder-Überschrift über ganze Breite der Seite IMPROVED
- Länder- und Regionenspalte vereinen?
    - Regionenerkennung oft nicht richtig, weil Groß- und Kleinbuchstaben vom OCR nicht richtig erkannt werden
- Dokumente/Seiten mit vielen Artifakten
    - 1944
        - S. 8-9, schlechte Ländererkennung FIXED
            - S. 25 falsches Labeling FIXED
        - S. 28 Inhalt fehlt? TESSERACT PROBLEM
        - S. 10-11, schlechte Ländererkennung
    

## Fragen