In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import os
import fitz

from pprint import pprint

import util
import lines
import classification

In [2]:
test_files_dir = ".././test_files/"
test_files = util.list_files(test_files_dir)
test_files

['.././test_files/LS_index_1944.pdf',
 '.././test_files/LS_index_1986_split.pdf',
 '.././test_files/Argentinia_LS_index_1934_test_I_DE.pdf',
 '.././test_files/LS_index_1976.pdf',
 '.././test_files/LS_index_1920.pdf',
 '.././test_files/LS_index_1986.pdf',
 '.././test_files/LS_index_1937.pdf',
 '.././test_files/LS_index_1920_split.pdf',
 '.././test_files/LS_index_1944_split.pdf']

In [3]:
p_start = 1
pages, dicts = util.read_pdf(test_files[-4], p_start)

l_df = lines.make_lines_df(dicts)
l_df = lines.merge_close_lines(l_df)
l_df = lines.remove_useless_lines(l_df)

display(l_df)

Reading pdf from .././test_files/LS_index_1986.pdf
...
Finished reading 89 page(s)

,line_text,spans,x0,y0,x1,y1,page
0,International,[International ],40.32,40.85,86.17,51.93,1
1,Labour Office,[Labour Office ],40.56,49.73,90.48,60.81,1
2,Legislative Series,[Legislative Series ],306.48,41.09,369.71,52.17,1
3,1987—List No. 3,[1987—List No. 3 ],307.68,49.49,369.88,60.57,1
4,LIST OF RECENT LEGISLATION,[LIST OF RECENT LEGISLATION ],105.60,69.11,305.78,86.45,1
...,...,...,...,...,...,...,...
4655,(195) 89 1987—List No. 3,"[(195) , 89 , 1987—List No. 3 ]",43.68,45.00,373.53,57.01,89
4656,Spain—Uruguay,[Spain—Uruguay ],43.92,70.04,103.60,82.51,89
4657,19/11/1986 Additional international technical ...,[19/11/1986 Additional international technical...,44.64,81.96,373.93,93.97,89
4658,matters between the Republic of Uruguay and th...,[matters between the Republic of Uruguay and t...,55.68,90.36,379.08,102.37,89
4659,"Montevideo, (ibid., Boletín Oficial del Est...","[Montevideo, (ibid.,, Boletín Oficial, del, ...",55.92,98.76,256.90,110.77,89

In [4]:
bins_x0, bins_x1, x0_n = classification.group_line_starts_ends(l_df)
display(x0_n, bins_x0, bins_x1)

2

,x0,lines,last_x0,count,page
3,"[40.32, 40.56, 39.36, 40.56, 39.6, 40.56, 40.3...","[0, 1, 6, 8, 9, 10, 12, 14, 33, 35, 38, 39, 53]",39.12,13,1
0,"[51.84, 52.08, 51.36, 51.36, 52.08, 51.36, 51....","[5, 7, 11, 13, 15, 16, 17, 18, 19, 20, 21, 22,...",51.84,38,1
1,"[75.36, 73.92, 73.92, 73.92, 73.44, 74.4, 73.9...","[54, 55, 56, 64, 70, 72, 79, 82, 83, 87, 90, 9...",73.92,14,2
0,"[85.92, 86.64, 85.92, 85.92, 86.16, 86.16, 86....","[57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 6...",86.16,36,2
1,"[36.48, 37.44, 37.44, 37.2, 37.44, 37.68, 37.4...","[104, 105, 106, 109, 113, 117, 118, 121, 128, ...",38.4,11,3
...,...,...,...,...,...
1,"[51.36, 51.6, 51.6, 51.6, 52.08, 51.6, 51.84, ...","[4557, 4558, 4561, 4562, 4563, 4564, 4565, 456...",52.8,40,87
1,"[73.44, 72.48, 72.96, 72.96, 72.24, 72.96, 72....","[4606, 4607, 4608, 4615, 4617, 4618, 4627, 462...",72.0,14,88
0,"[84.48, 84.72, 84.0, 84.0, 84.0, 84.96, 84.24,...","[4609, 4610, 4611, 4612, 4613, 4614, 4616, 461...",84.24,35,88
1,"[43.68, 43.92, 44.64]","[4655, 4656, 4657]",44.64,3,89
0,"[55.68, 55.92]","[4658, 4659]",55.92,2,89

,x1,lines,last_x1,count,page
9,"[369.71, 369.88, 370.1, 369.7, 369.64, 370.18,...","[2, 3, 5, 7, 10, 12, 15, 16, 17, 18, 19, 20, 2...",369.37,39,1
16,"[404.51, 404.79, 404.85, 404.68, 404.74, 405.1...","[54, 56, 58, 59, 60, 61, 62, 64, 66, 67, 68, 7...",404.07,27,2
16,"[366.33, 367.58, 367.75, 367.42, 368.74, 368.0...","[104, 106, 108, 109, 111, 113, 115, 118, 119, ...",366.67,34,3
14,"[406.23, 405.93, 405.65, 405.68, 405.57, 405.4...","[158, 160, 161, 163, 164, 165, 166, 167, 168, ...",405.26,31,4
19,"[369.6, 367.58, 368.88, 368.03, 368.26, 367.93...","[210, 212, 215, 217, 218, 221, 222, 223, 224, ...",366.69,21,5
...,...,...,...,...,...
17,"[378.76, 379.15, 380.6, 380.1, 383.27]","[4463, 4466, 4470, 4475, 4490]",383.27,5,85
15,"[402.11, 403.08, 403.2, 403.78, 403.15, 402.52...","[4506, 4508, 4512, 4516, 4517, 4519, 4520, 452...",403.28,31,86
13,"[370.17, 370.09, 370.12, 372.96, 372.01, 370.5...","[4555, 4560, 4563, 4564, 4565, 4566, 4567, 456...",367.82,34,87
15,"[403.07, 403.49, 403.0, 403.49, 403.49, 405.08...","[4606, 4608, 4610, 4611, 4612, 4613, 4615, 461...",402.85,30,88
1,379.08,4658,379.08,1,89

In [5]:
li_df = classification.assign_types(l_df, bins_x0, bins_x1, x0_n)
li_df.head(20)

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type
0,International,[International ],40.32,40.85,86.17,51.93,1,0,0
1,Labour Office,[Labour Office ],40.56,49.73,90.48,60.81,1,0,0
2,Legislative Series,[Legislative Series ],306.48,41.09,369.71,52.17,1,-1,2
3,1987—List No. 3,[1987—List No. 3 ],307.68,49.49,369.88,60.57,1,-1,2
4,LIST OF RECENT LEGISLATION,[LIST OF RECENT LEGISLATION ],105.60,69.11,305.78,86.45,1,-1,1
5,This list indicates the more important enactme...,[This list indicates the more important enactm...,51.84,99.19,370.10,108.96,1,1,2
6,noted in the official gazettes recently receiv...,[noted in the official gazettes recently recei...,39.36,107.59,314.19,117.36,1,0,1
7,"[This cumulative list, arranged in chronologic...","[[This cumulative list, arranged in chronologi...",52.08,115.42,369.70,126.09,1,1,2
8,1986.],[1986.] ],40.56,123.82,62.32,134.49,1,0,0
9,ALGERIA,[ALGERIA ],39.60,148.13,78.70,159.21,1,0,0
10,l/X/1985 Decree No. 85-243 laying down model ...,"[l/X/1985 , Decree No. 85-243 laying down mode...",40.56,160.54,369.64,171.21,1,0,2
11,"training. (Journal officiel, 2 Oct.)","[training., (Journal officiel, 2, Oct.) ]",51.36,168.94,165.50,179.61,1,1,0
12,17/XII/1985 Decree No. 85-306 to establish a ...,"[17/XII/1985 , Decree No. 85-306 to establish ...",40.32,181.42,370.18,192.09,1,0,2
13,"attached to the Ministry of higher education, ...","[attached to the Ministry of higher education,...",51.36,189.82,264.38,200.49,1,1,1
14,"9/II/1986 National Charter, (ibid., 16 Feb.)","[9/II/1986 , National Charter, (ibid., 16 Feb.) ]",39.36,202.30,195.75,212.97,1,0,0
15,[The new National Charter promulgated on 16 Fe...,[[The new National Charter promulgated on 16 F...,52.08,214.78,371.44,225.45,1,1,2
16,a sequel to a number of basic texts adopted si...,[a sequel to a number of basic texts adopted s...,51.36,223.18,370.33,233.85,1,1,2
17,"including the first Charter of 1976, which thi...","[including the first Charter of 1976, which th...",51.36,231.58,369.63,242.25,1,1,2
18,"extend. Like its predecessor, the 1986 Charter...","[extend. Like its predecessor, the 1986 Charte...",51.12,239.98,369.94,250.65,1,1,2
19,rather than a set of detailed rights and oblig...,[rather than a set of detailed rights and obli...,51.60,248.38,369.81,259.05,1,1,2

In [6]:
cli_df = classification.correct_x0_types(li_df, bins_x0, bins_x1, x0_n)
ll_df = classification.assign_labels(cli_df, x0_n)
ll_df.to_csv("labeling_1986_full.csv")
ll_df

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type,label
0,International,[International ],40.32,40.85,86.17,51.93,1,0,0,country
1,Labour Office,[Labour Office ],40.56,49.73,90.48,60.81,1,0,0,country
2,Legislative Series,[Legislative Series ],306.48,41.09,369.71,52.17,1,-1,2,other
3,1987—List No. 3,[1987—List No. 3 ],307.68,49.49,369.88,60.57,1,-1,2,other
4,LIST OF RECENT LEGISLATION,[LIST OF RECENT LEGISLATION ],105.60,69.11,305.78,86.45,1,-1,1,other
...,...,...,...,...,...,...,...,...,...,...
4655,(195) 89 1987—List No. 3,"[(195) , 89 , 1987—List No. 3 ]",43.68,45.00,373.53,57.01,89,-1,1,other
4656,Spain—Uruguay,[Spain—Uruguay ],43.92,70.04,103.60,82.51,89,-1,0,other
4657,19/11/1986 Additional international technical ...,[19/11/1986 Additional international technical...,44.64,81.96,373.93,93.97,89,-1,1,other
4658,matters between the Republic of Uruguay and th...,[matters between the Republic of Uruguay and t...,55.68,90.36,379.08,102.37,89,0,2,start
4659,"Montevideo, (ibid., Boletín Oficial del Est...","[Montevideo, (ibid.,, Boletín Oficial, del, ...",55.92,98.76,256.90,110.77,89,0,1,other

In [7]:
ll_df.loc[ll_df["page"]==64]

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type,label
3319,1044—Indexes II — 64 —,"[1044—Indexes II, —, 64, —]",55.0,50.90,230.40,60.48,64,0,1,other
3320,"May 19 Act No. 226, to amend sections 1 and 4 ...","[May, 19, Act No. 226, to amend sections 1 and...",64.0,83.48,373.41,93.88,64,1,2,start
3321,"June, 1929, respecting insurance against• cert...","[June,, 1929,, respecting, insurance, against•...",111.0,92.23,371.46,102.03,64,2,2,middle
3322,(S.F. pp. 439-440) Swe. I (A),"[(S.F. pp. 439-440), Swe., I, (A)]",160.0,100.46,371.46,110.20,64,-1,2,other
3323,"May 19 Act No. 227, to amend section","[May 19, Act No. 227, to amend section]",64.0,114.00,234.15,124.10,64,1,1,other
3324,1,[1],241.0,117.88,243.40,122.68,64,-1,1,other
3325,"of Act No. 235 of 17th June,","[of Act No. 235 of 17th June,]",250.0,113.53,371.30,124.13,64,-1,2,other
3326,"1916, respecting insurance against industrial ...","[1916,, respecting, insurance, against, indust...",111.0,121.93,371.25,132.53,64,2,2,middle
3327,p. 441) :,"[p. 441), :]",111.0,131.68,170.19,140.88,64,2,0,end
3328,Swe. I (B),"[Swe. I, (B)]",328.0,130.80,370.93,140.50,64,-1,2,other
3329,"May 19 Order No. 228, to amend sections 1, 2 a...","[May 19, Order No. 228, to amend sections, 1, ...",65.0,143.65,371.57,154.35,64,1,2,start
3330,"of 11th June, 1937, respecting assistance to m...","[of 11th June, 1937, respecting assistance to ...",112.0,152.70,371.41,162.13,64,2,2,middle
3331,442),[442)],111.0,161.48,126.40,169.88,64,2,0,end
3332,"May 19 Order 229, to amend sections 2 and 6 of...","[May 19, Order, 229, to amend sections 2 and 6...",64.0,174.18,371.03,184.58,64,1,2,start
3333,"11th June, 1937, respecting pecuniary maternit...","[11th June, 1937, respecting pecuniary materni...",112.0,183.05,371.75,192.35,64,2,2,middle
3334,"May 19 Order No. 231, to amend section 32 of O...","[May 19, Order No. 231, to amend section 32 of...",64.0,196.95,373.05,206.70,64,1,2,start
3335,"1931, respecting recognised sick funds126. (S....","[1931,, respecting recognised sick, funds126.,...",112.0,204.80,371.82,214.90,64,2,2,middle
3336,pp. 444-445),[pp. 444-445)],111.0,214.58,156.46,223.38,64,2,0,end
3337,"May 19 Act No. 236, to continue in operation [...","[May 19, Act No. 236, to continue in operation...",64.0,226.70,372.89,236.80,64,1,2,start
3338,existing division of localities into classes i...,[existing division of localities into classes ...,111.0,234.90,372.19,245.00,64,2,2,middle
3339,"No. 434 of 28th June, 1935, respecting the nat...","[No. 434 of 28th June, 1935, respecting the na...",112.0,243.75,372.34,252.85,64,2,2,middle
3340,(S.F. p. 449),[(S.F. p. 449)],112.0,251.43,161.27,261.23,64,2,0,end
3341,"June 30 Order No. 405, to amend section 11 of ...","[June 30, Order No. 405, to amend section 11 o...",64.0,264.53,372.54,275.30,64,1,2,start
3342,"June, 1934, respecting recognised unemployment...","[June,, 1934,, respecting, recognised unemploy...",112.0,273.70,372.09,283.40,64,2,2,middle
3343,p. 821),[p. 821)],111.0,282.65,136.78,291.75,64,2,0,end
3345,Swe. 3 (C),[Swe. 3 (C)],328.0,282.27,370.98,291.37,64,-1,2,other
3346,"June 30 Act No. 461, respecting home assistant...","[June 30, Act No. 461, respecting home assista...",64.0,295.33,350.93,305.25,64,1,1,other
3347,Swe.2,[Swe.2],347.0,303.28,372.71,313.68,64,-1,2,other
3348,"June 30 Act No. 462, respecting hours of work ...","[June 30, Act No. 462, respecting hours of wor...",64.0,313.53,372.91,323.73,64,1,2,start
3349,cafés. (S.F. pp. 895-898),"[cafés., (S.F. pp. 895-898)]",112.0,322.33,210.72,331.58,64,2,0,end
3350,"June 30 Act No. 463, to amend No. 138 of 16th ...","[June 30, Act No. 463, to amend No. 138 of 16t...",64.0,335.55,372.94,345.70,64,1,2,start
3351,limitation of hours of (S.F. p. 899),"[limitation of hours of, (S.F. p. 899)]",112.0,343.53,292.28,353.88,64,2,1,end
3352,"June 30 Act No. 464, to continue in operation ...","[June 30, Act No. 464, to continue in operatio...",63.0,357.38,370.98,367.60,64,1,2,start
3353,"No. 484 of 14th June, 1940, respecting excepti...","[No. 484 of 14th June, 1940, respecting except...",112.0,365.48,373.08,375.48,64,2,2,middle
3354,work provisions in (S.F. pp. 899-900),"[work provisions in, (S.F. pp. 899-900)]",111.0,373.83,296.93,383.75,64,2,1,end
3355,"June 30 Act No. 475, respecting unemployment c...","[June 30, Act No. 475, respecting unemployment...",64.0,388.30,359.76,398.40,64,1,1,other
3356,Swe. 3 (A),[Swe. 3 (A)],329.0,396.05,372.16,405.95,64,-1,2,other
3357,"June 30 Notification No. 476, to by down admin...","[June 30, Notification No. 476, to by down adm...",64.0,406.35,372.59,416.68,64,1,2,start
3358,"Act No. 475 of 30th June, 1944, respecting une...","[Act No. 475 of 30th June, 1944, respecting un...",111.0,415.15,371.09,424.25,64,2,2,middle
3359,(S.F. pp. 914-916) Swe. 3 (B),"[(S.F. pp. 914-916), Swe. 3 (B)]",112.0,422.38,371.05,432.38,64,2,2,middle
3360,"June 30 Notification No. 479, to amend section...","[June 30, Notification No. 479, to amend secti...",64.0,436.28,371.98,446.88,64,1,2,start
3361,"4th February, 1944, respecting the Merchant Se...","[4th February,, 1944,, respecting the Merchant...",111.0,444.53,372.07,454.73,64,2,2,middle
3362,Institution. (S.F. p. 923),"[Institution., (S.F. p. 923)]",111.0,453.10,209.77,462.80,64,2,0,end
3363,"July 15 Act No. 541, to amend section 18 of Ac...","[July 15, Act No., 541,, to amend section, 18 ...",64.0,465.30,371.94,477.00,64,1,2,start
3364,"December, 1939, respecting compulsory [exempti...","[December,, 1939,, respecting compulsory, [exe...",111.0,474.95,371.25,484.83,64,2,2,middle
3365,persons enrolled for civil defenceJ. (S.F. p. ...,"[persons enrolled for civil defenceJ., (S.F. p...",111.0,483.25,305.96,492.75,64,2,1,end
3366,S.F. = Sven.ck förfaltningssanzling.,"[S.F. =, Sven.ck, förfaltningssanzling.]",64.0,500.28,203.89,511.88,64,1,0,other
3367,"1929 (Swe. 1, A); amendments: 1930 (Swe. 4, A)...","[1929 (Swe. 1, A); amendments: 1930 (Swe. 4, A...",99.0,523.46,371.22,533.35,64,-1,2,other
3368,1938 (Swe. 3). — L.S. 1922 (Swe. 2); amendment...,"[1938 (Swe. 3). —, L.S. 1922 (Swe. 2); amendme...",56.0,531.65,371.91,541.95,64,0,2,other
3369,"(Swe. 5, A); 1928 (Swe. 1); 1933 (Swe. 1); 193...","[(Swe. 5, A); 1928 (Swe. 1); 1933 (Swe. 1); 19...",57.0,539.45,373.20,550.15,64,0,2,other
3370,1939 (Swe. 1); 1941 (Swe. 2). — L.S. 1931 (Swe...,"[1939 (Swe. 1); 1941 (Swe. 2). —, L.S., 1931 (...",56.0,547.58,372.20,558.33,64,0,2,other
3371,(Swe. 3); 1937 (Swe. 1); 1942 (Swe. 4). — L.S....,"[(Swe. 3); 1937 (Swe. 1); 1942 (Swe. 4). —, L....",57.0,556.08,374.15,566.08,64,0,2,other
3372,1936 (Swe. 1); 1937 (Swe. 2); 19.38 (Swe. 2); ...,[1936 (Swe. 1); 1937 (Swe. 2); 19.38 (Swe. 2);...,56.0,564.18,364.02,574.18,64,0,1,other
3373,1930 (Swe. 1); amendments: L.S. 1938 (Swe. 5);...,[1930 (Swe. 1); amendments: L.S. 1938 (Swe. 5)...,94.0,572.35,370.36,582.65,64,-1,2,other
3374,"4 1942 (Swe.. 2, B). — 1940 (Swe. 1, A).","[4, 1942 (Swe.. 2, B). —, 1940 (Swe. 1, A).]",43.0,580.65,244.39,590.73,64,-1,1,other

In [55]:
classification.improve_classification(ll_df)

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type,label,new_label,date
0,1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLISH...,[1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLIS...,35.0,94.69,342.19,104.79,3,1,2,start,other,
1,"LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND, RE","[LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND,...",48.0,104.29,336.14,114.79,3,-1,1,other,other,
2,PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED PRE,[PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED ...,49.0,114.39,338.64,124.89,3,-1,2,other,other,
3,VIOUSLY IN THE LEGISLATIVE SERIES,[VIOUSLY IN THE LEGISLATIVE SERIES],48.0,124.46,236.91,134.86,3,-1,1,other,other,
4,ARGENTINE REPUBLIC,[ARGENTINE REPUBLIC],26.0,147.26,151.34,158.86,3,0,0,country,country,
...,...,...,...,...,...,...,...,...,...,...,...,...
4320,Apr. 28 L.D. respecting the organisation of la...,"[Apr. 28, L.D., respecting the organisation of...",62.0,528.92,369.30,539.32,82,1,2,start,start,Apr. 28
4321,agreements; labour courts]. No. 311. (Zb. pp. ...,"[agreements; labour courts]., No. 311., (Zb. p...",109.0,537.12,337.55,547.49,82,2,1,end,end,
4322,G.O. = Gacefa Oficial de los Unmdos de Venezuela.,"[G.O. =, Gacefa, Oficial de los, Unmdos de Ven...",63.0,552.82,296.01,563.62,82,1,1,other,other,
4323,Zb. = Zbornile zakona i naredaba.,"[Zb. =, Zbornile, zakona, i, naredaba.]",62.0,562.45,195.35,573.75,82,1,0,other,other,
4324,110L.S. 1940 (Ven. 1).,[110L.S. 1940 (Ven. 1).],63.0,582.02,151.79,591.62,82,1,0,other,other,

## Probleme
- Dokumente mit 2 Spalten
- Dokumente mit Länder-Überschrift über ganze Breite der Seite
- Erkennen, ab welcher Seite die eigentlichen Indexes beginnen
- Unnötigen Anfangstext auf der ersten Seite rausfiltern

## Fragen