In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import os
import fitz

from pprint import pprint

import util
import lines
import classification

In [2]:
test_files_dir = ".././test_files/"
test_files = util.list_files(test_files_dir)
test_files

['.././test_files/LS_index_1944.pdf',
 '.././test_files/LS_index_1986_split.pdf',
 '.././test_files/Argentinia_LS_index_1934_test_I_DE.pdf',
 '.././test_files/LS_index_1976.pdf',
 '.././test_files/LS_index_1920.pdf',
 '.././test_files/LS_index_1986.pdf',
 '.././test_files/LS_index_1937.pdf',
 '.././test_files/LS_index_1920_split.pdf',
 '.././test_files/LS_index_1944_split.pdf']

In [10]:
p_start = 3
pages, dicts = util.read_pdf(test_files[0], p_start)

l_df = lines.make_lines_df(dicts)
l_df = lines.merge_close_lines(l_df)
l_df = lines.remove_useless_lines(l_df)

display(l_df)

Reading pdf from .././test_files/LS_index_1944.pdf
...
Finished reading 80 page(s)

,line_text,spans,x0,y0,x1,y1,page
0,1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLISH...,[1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLIS...,35.0,94.69,342.19,104.79,3
1,"LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND, RE","[LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND,...",48.0,104.29,336.14,114.79,3
2,PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED PRE,[PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED ...,49.0,114.39,338.64,124.89,3
3,VIOUSLY IN THE LEGISLATIVE SERIES,[VIOUSLY IN THE LEGISLATIVE SERIES],48.0,124.46,236.91,134.86,3
4,ARGENTINE REPUBLIC,[ARGENTINE REPUBLIC],26.0,147.26,151.34,158.86,3
...,...,...,...,...,...,...,...
4320,Apr. 28 L.D. respecting the organisation of la...,"[Apr. 28, L.D., respecting the organisation of...",62.0,528.92,369.30,539.32,82
4321,agreements; labour courts]. No. 311. (Zb. pp. ...,"[agreements; labour courts]., No. 311., (Zb. p...",109.0,537.12,337.55,547.49,82
4322,G.O. = Gacefa Oficial de los Unmdos de Venezuela.,"[G.O. =, Gacefa, Oficial de los, Unmdos de Ven...",63.0,552.82,296.01,563.62,82
4323,Zb. = Zbornile zakona i naredaba.,"[Zb. =, Zbornile, zakona, i, naredaba.]",62.0,562.45,195.35,573.75,82
4324,110L.S. 1940 (Ven. 1).,[110L.S. 1940 (Ven. 1).],63.0,582.02,151.79,591.62,82

In [11]:
bins_x0, bins_x1, x0_n = classification.group_line_starts_ends(l_df)
display(x0_n, bins_x0, bins_x1)

3

,x0,lines,last_x0,count,page
5,"[26.0, 26.0, 27.0, 27.0, 27.0, 27.0, 28.0, 27....","[4, 22, 30, 38, 39, 40, 41, 45, 46, 47]",28.0,10,3
7,"[35.0, 34.0, 35.0, 35.0, 35.0, 35.0, 35.0, 36....","[0, 6, 11, 18, 24, 26, 31, 36, 37, 42]",35.0,10,3
3,"[80.0, 80.0, 80.0, 81.0, 80.0, 80.0, 80.0, 81....","[7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 19, 20, ...",82.0,19,3
3,"[47.0, 49.0, 50.0, 50.0, 50.0, 51.0, 51.0, 51....","[48, 49, 64, 68, 75, 79, 89, 90, 91, 92, 93, 9...",51.0,19,4
2,"[58.0, 58.0, 58.0, 58.0, 59.0, 59.0, 59.0, 59....","[50, 54, 58, 65, 69, 76, 80, 85, 95]",60.0,9,4
...,...,...,...,...,...
4,"[23.0, 23.0, 23.0, 24.0, 24.0, 24.0, 24.0, 24....","[4215, 4219, 4223, 4227, 4230, 4234, 4237, 424...",26.0,14,81
3,"[69.0, 69.0, 69.0, 69.0, 70.0, 69.0, 69.0, 70....","[4216, 4217, 4218, 4220, 4221, 4222, 4224, 422...",71.0,35,81
0,"[54.0, 54.0]","[4314, 4315]",54.0,2,82
6,"[55.0, 54.0, 56.0, 60.0, 63.0, 63.0, 62.0, 63....","[4267, 4268, 4297, 4309, 4317, 4318, 4320, 432...",63.0,10,82
4,"[106.0, 110.0, 110.0, 110.0, 110.0, 110.0, 110...","[4270, 4274, 4275, 4276, 4280, 4282, 4283, 428...",109.0,25,82

,x1,lines,last_x1,count,page
15,"[342.19, 338.64, 340.15, 339.66, 340.92, 340.2...","[0, 2, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 18,...",341.23,30,3
10,"[364.39, 365.77, 365.53, 364.94, 364.62, 365.1...","[50, 51, 52, 54, 55, 56, 58, 59, 60, 61, 62, 6...",365.55,37,4
18,"[344.22, 342.88, 342.88, 343.64, 342.57, 342.7...","[103, 105, 106, 107, 111, 112, 117, 118, 121, ...",341.44,31,5
17,"[368.16, 368.79, 368.92, 368.63, 368.64, 368.0...","[162, 163, 168, 170, 171, 173, 174, 178, 182, ...",368.64,25,6
16,"[327.4, 325.91, 325.98, 326.49, 326.08, 326.78...","[210, 212, 213, 214, 215, 217, 218, 220, 221, ...",327.85,31,7
...,...,...,...,...,...
11,"[379.6, 380.17, 380.35, 379.0, 380.11, 380.46,...","[4047, 4048, 4049, 4050, 4051, 4052, 4053, 405...",375.05,39,78
9,"[326.73, 326.84, 327.21, 326.62, 326.06, 326.3...","[4101, 4103, 4104, 4105, 4106, 4107, 4109, 411...",323.36,44,79
11,"[377.02, 376.64, 376.83, 377.64, 376.42, 376.7...","[4161, 4162, 4163, 4165, 4166, 4167, 4168, 417...",374.36,41,80
10,"[328.74, 329.31, 329.32, 329.17, 326.22, 327.5...","[4214, 4215, 4216, 4217, 4219, 4220, 4221, 422...",330.93,33,81
16,"[369.99, 369.86, 367.33, 370.75, 370.01, 370.0...","[4270, 4271, 4272, 4273, 4274, 4275, 4279, 428...",369.3,25,82

In [18]:
li_df = classification.assign_types(l_df, bins_x0, bins_x1, x0_n)
l = classification.assign_labels(li_df, x0_n)
li_df.head(20)

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type
0,1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLISH...,[1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLIS...,35.0,94.69,342.19,104.79,3,1,2
1,"LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND, RE","[LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND,...",48.0,104.29,336.14,114.79,3,-1,1
2,PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED PRE,[PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED ...,49.0,114.39,338.64,124.89,3,-1,2
3,VIOUSLY IN THE LEGISLATIVE SERIES,[VIOUSLY IN THE LEGISLATIVE SERIES],48.0,124.46,236.91,134.86,3,-1,1
4,ARGENTINE REPUBLIC,[ARGENTINE REPUBLIC],26.0,147.26,151.34,158.86,3,0,0
5,FEDERAL GOVERNMENT,[FEDERAL GOVERNMENT],127.0,163.84,243.31,173.74,3,-1,1
6,"June 3 Decree No. 13,943/44, to repeal section...","[June 3, Decree No. 13,943/44, to repeal secti...",34.0,178.21,340.15,187.99,3,1,2
7,"watchmen] of Decree No. 562 of 31st December, ...","[watchmen] of Decree No. 562 of 31st December,...",80.0,186.46,339.66,196.06,3,2,2
8,the hours of work of persons engaged in mariti...,[the hours of work of persons engaged in marit...,80.0,193.84,340.92,204.54,3,2,2
9,navigation and dock and harbour services. (B.O...,"[navigation and dock and harbour services., (B...",80.0,202.66,340.20,212.46,3,2,2
10,"No. 14,919, p. 5)","[No. 14,919, p. 5)]",81.0,211.18,144.29,220.49,3,2,0
11,"Sept. 11 Decrees No. 24,335/44 and 24,336/44, ...","[Sept. 11, Decrees No. 24,335/44 and 24,336/44...",35.0,225.04,339.57,234.54,3,1,2
12,"of 15th October, 19342, respecting the employm...","[of 15th October, 19342, respecting the employ...",80.0,233.41,340.80,242.81,3,2,2
13,and after confinement [by adding a paragraph t...,[and after confinement [by adding a paragraph ...,80.0,240.74,339.16,251.04,3,2,2
14,"respect to allowances], and (2) to amend secti...","[respect to allowances], and (2), to amend sec...",80.0,248.71,341.00,259.49,3,2,2
15,"No. 80,229 of 15th April, issuing regulations ...","[No. 80,229 of, 15th April,, issuing regulatio...",81.0,257.06,341.01,267.64,3,2,2
16,"No. 11,933 of 15th October, 1934. (B.O. 20th S...","[No. 11,933 of 15th October, 1934., (B.O. 20th...",81.0,265.24,340.96,275.51,3,2,2
17,"No. 15,000, pp. 9-10)","[No. 15,000, pp. 9-10)]",81.0,274.04,159.61,283.14,3,2,0
18,"Nov. 4 Decree No. 29,830/44, to amend certain ...","[Nov. 4, Decree No. 29,830/44, to amend certai...",35.0,288.06,339.88,297.69,3,1,2
19,"of 10th September, respecting security of tenu...","[of 10th September,, respecting security of te...",80.0,295.96,340.90,306.06,3,2,2

In [15]:
cli_df = classification.correct_x0_types(li_df, bins_x0, bins_x1, x0_n)
ll_df = classification.assign_labels(cli_df, x0_n)
#ll_df.to_csv("labeling_1986_full.csv")
ll_df

[(306.0851744186046, 15), (307.0399840510367, 25), (308.40941176470585, 39), (308.4359999999999, 40), (328.97999999999996, 64), (306.3747368421052, 69), (306.9994669117647, 70), (306.634289044289, 77), (307.34846153846155, 78), (306.2284090909092, 79)] 315.1560256410257

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type,label
0,1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLISH...,[1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLIS...,35.0,94.69,342.19,104.79,3,1,2,start
1,"LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND, RE","[LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND,...",48.0,104.29,336.14,114.79,3,-1,1,other
2,PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED PRE,[PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED ...,49.0,114.39,338.64,124.89,3,-1,2,other
3,VIOUSLY IN THE LEGISLATIVE SERIES,[VIOUSLY IN THE LEGISLATIVE SERIES],48.0,124.46,236.91,134.86,3,-1,1,other
4,ARGENTINE REPUBLIC,[ARGENTINE REPUBLIC],26.0,147.26,151.34,158.86,3,0,0,country
...,...,...,...,...,...,...,...,...,...,...
4320,Apr. 28 L.D. respecting the organisation of la...,"[Apr. 28, L.D., respecting the organisation of...",62.0,528.92,369.30,539.32,82,1,2,start
4321,agreements; labour courts]. No. 311. (Zb. pp. ...,"[agreements; labour courts]., No. 311., (Zb. p...",109.0,537.12,337.55,547.49,82,2,1,end
4322,G.O. = Gacefa Oficial de los Unmdos de Venezuela.,"[G.O. =, Gacefa, Oficial de los, Unmdos de Ven...",63.0,552.82,296.01,563.62,82,1,1,other
4323,Zb. = Zbornile zakona i naredaba.,"[Zb. =, Zbornile, zakona, i, naredaba.]",62.0,562.45,195.35,573.75,82,1,0,other
4324,110L.S. 1940 (Ven. 1).,[110L.S. 1940 (Ven. 1).],63.0,582.02,151.79,591.62,82,1,0,other

In [16]:
ll_df.loc[ll_df["page"]==15]

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type,label
661,— — Ii,"[—, —, Ii]",169.0,52.91,345.23,63.11,15,3,2,other
662,"Aug. 25 Decree No. 23,847/44, respecting the e...","[Aug. 25, Decree No. 23,847/44, respecting the...",37.0,86.96,342.61,96.56,15,1,2,start
663,economic organisation of the country and furth...,[economic organisation of the country and furt...,83.0,94.33,343.39,105.26,15,2,2,middle
664,National Council for Post-war Problems as an a...,"[National Council, for Post-war Problems as, a...",83.0,102.31,342.09,112.98,15,2,2,middle
665,"(B.O. 9th September, 1944, No. 14,991, P. 2)","[(B.O. 9th September, 1944, No. 14,991, P. 2)]",84.0,111.21,254.50,120.61,15,2,1,end
666,"Sept. 11 Decrees No. 24,335/44 and 24,336/44, ...","[Sept. 11, Decrees No. 24,335/44 and 24,336/44...",37.0,125.43,342.57,134.93,15,1,2,start
667,"of 15th October, 1934, respecting the employme...","[of 15th October, 1934, respecting the employm...",83.0,133.33,341.83,142.83,15,2,2,middle
668,and after confinement [by adding a paragraph t...,[and after confinement [by adding a paragraph ...,83.0,140.93,342.16,151.23,15,2,2,middle
669,"respect to allowances], and (2) to amend secti...","[respect to allowances], and (2) to amend sect...",84.0,149.41,342.81,159.21,15,2,2,middle
670,"80,229 of 15th April, 1936', issuing regulatio...","[80,229 of 15th April, 1936', issuing regulati...",83.0,157.98,342.22,167.28,15,2,2,middle
671,"of 15th October, 1934. (B.O. 20th September, 1...","[of 15th October, 1934., (B.O. 20th September,...",83.0,165.68,342.04,175.48,15,2,2,middle
672,pp. 9-10),[pp. 9-10)],84.0,175.11,116.99,184.11,15,2,0,end
673,"Oct. 10 Decree No. 27,797/44, respecting hours...","[Oct. 10, Decree No. 27,797/44, respecting hou...",37.0,185.98,344.56,195.73,15,1,2,start
674,and wireless telegraph operators. (B.O. 18th O...,"[and wireless telegraph operators., (B.O. 18th...",83.0,194.18,342.71,204.13,15,2,2,middle
675,"15,023, p. 2)","[15,023, p. 2)]",84.0,202.96,130.76,212.16,15,2,0,end
676,"Oct. 17 Decree No. 28,169/44, to approve the A...","[Oct. 17, Decree No. 28,169/44, to approve the...",37.0,216.48,341.74,226.18,15,1,2,start
677,"(B.O. 13th November, 1944, No. 15,043, Pp. 1-1...","[(B.O. 13th November, 1944, No. 15,043, Pp. 1-...",83.0,224.73,343.04,235.01,15,2,2,middle
678,"Oct. 18 Decree No. 28,011/44, to amend Act No....","[Oct. 18, Decree No. 28,011/44, to amend Act N...",37.0,238.48,343.31,248.58,15,1,2,start
679,"1939, respecting the Retirement and Survivors'...","[1939, respecting the Retirement and Survivors...",83.0,246.76,342.28,256.76,15,2,2,middle
680,the National Merchant Marine. (B.O. 3rd Novemb...,"[the National Merchant Marine., (B.O. 3rd Nove...",82.0,254.93,342.21,264.83,15,2,2,middle
681,"15,036, pp. 14-15)","[15,036, pp. 14-15)]",83.0,264.03,147.52,272.73,15,2,0,end
682,"Oct. 25 Decree No. 28,936/44, to appoint Ist J...","[Oct. 25, Decree No. 28,936/44, to appoint Ist...",37.0,275.13,343.10,285.08,15,1,2,start
683,"commencement of Decree No. 21,425 of 10th Augu...","[commencement of Decree No. 21,425 of 10th Aug...",83.0,283.61,339.62,293.01,15,2,2,middle
684,ing compulsory administrative procedure for co...,"[ing compulsory, administrative procedure, for...",83.0,291.46,343.31,301.28,15,2,2,middle
685,"industrial accidents. (B.O. 18th December, 194...","[industrial accidents., (B.O. 18th December, 1...",83.0,299.78,340.90,309.08,15,2,2,middle
686,Arg. 2 (B),[Arg. 2 (B)],299.0,307.58,342.45,318.08,15,-1,2,other
687,"Oct. 27 Decree No. 29,176/44, respecting the s...","[Oct. 27, Decree No. 29,176/44, respecting the...",37.0,317.86,342.69,327.78,15,1,2,start
688,the National Social Welfare Institution. (B.O....,"[the National Social Welfare Institution., (B....",82.0,326.03,342.93,335.76,15,2,2,middle
689,"No. 15,038, pp. 7-9) Arg. 4 (A)","[No. 15,038, pp. 7-9), Arg. 4 (A)]",83.0,333.98,343.03,344.48,15,2,2,middle
690,"Oct. 27 Decree No. 29,292/44, to issue regulat...","[Oct. 27, Decree No. 29,292/44, to issue regul...",36.0,348.33,344.21,358.33,15,1,2,start
691,"\Velfare Institution. (B.O. 6th November, 1944...","[\Velfare Institution., (B.O. 6th November, 19...",82.0,356.31,342.04,366.28,15,2,2,middle
692,9-11) Arg. 4 (B),"[9-11), Arg. 4 (B)]",82.0,364.38,343.45,374.88,15,2,2,middle
693,"Oct. 30 Decree No. 29,394/44, to provide for a...","[Oct. 30, Decree No. 29,394/44, to provide for...",36.0,378.61,342.63,388.81,15,1,2,start
694,salaries of wage-earning and salaried employee...,[salaries of wage-earning and salaried employe...,83.0,386.81,339.90,396.61,15,2,2,middle
695,takings under national jurisdiction and operat...,[takings under national jurisdiction and opera...,82.0,394.71,341.94,404.51,15,2,2,middle
696,"(B.O. 21st November, 1944, No. 15,050, pp. 12-13)","[(B.O. 21st November, 1944, No. 15,050, pp. 12...",83.0,403.06,282.18,412.66,15,2,1,end
697,"Nov. 2 Decree No. 29,669/44, to fix wages and ...","[Nov. 2, Decree No. 29,669/44, to fix wages an...",36.0,417.01,344.30,427.28,15,1,2,start
698,"for workers in bakeries. (B.O. 15th November, ...","[for workers in bakeries., (B.O. 15th November...",82.0,425.23,341.21,435.11,15,2,2,middle
699,pp. 9-10),[pp. 9-10)],82.0,435.06,114.26,443.86,15,2,0,end
700,"Nov. 4 Decree No. 29,830/44, to amend certain ...","[Nov. 4, Decree No. 29,830/44, to amend certai...",35.0,445.46,341.88,455.81,15,1,2,start
701,"of 10th September, 1940°, respecting security ...","[of 10th September, 1940°, respecting security...",82.0,453.51,341.48,463.31,15,2,2,middle
702,scales for employees of private banks. (B.O. 4...,"[scales for employees of private banks., (B.O....",82.0,461.63,342.16,471.46,15,2,2,middle
703,"No. 15,061, p. 19)","[No. 15,061, p. 19)]",82.0,470.58,149.94,479.88,15,2,0,end
704,"Nov. 7 Decree No. 29,776/44, to declare telegr...","[Nov. 7, Decree No. 29,776/44,, to declare tel...",36.0,480.93,342.55,492.38,15,1,2,start
705,"occupational disease. (B.O. 16th November, 194...","[occupational disease., (B.O. 16th November, 1...",82.0,490.16,341.04,499.68,15,2,2,middle
706,"Nov. 15 Decree No. 30,656/44, respecting the p...","[Nov. 15, Decree No. 30,656/44, respecting the...",35.0,504.48,342.07,514.54,15,1,2,start
707,services of the National Social Welfare Instit...,[services of the National Social Welfare Insti...,82.0,512.01,341.22,522.21,15,2,2,middle
708,"November, 1944, No. 15,055, pp. 8-9) Arg. 5","[November, 1944, No. 15,055, pp. 8-9), Arg. 5]",82.0,520.53,342.29,530.43,15,2,2,middle
709,"Nov. 22 Decree No. 31,665/44, respecting the w...","[Nov. 22, Decree No. 31,665/44, respecting the...",36.0,532.36,341.65,542.93,15,1,2,start
710,employees in commercial and allied occupations...,[employees in commercial and allied occupation...,81.0,540.31,342.25,550.51,15,2,2,middle
711,"December, 1944, No. 15,063, pp. 18-22)","[December, 1944, No. 15,063, pp. 18-22)]",82.0,549.31,234.72,558.71,15,2,1,end
712,B.O. Boletin Of icial de la Repdblica Argentina.,"[B.O., Boletin Of icial de la Repdblica Argent...",36.0,566.03,232.32,575.98,15,1,1,other
713,"°L.S. 1934 (Arg. I, B). — 'L.S. 1936 (Arg. 1, ...","[°L.S. 1934 (Arg. I, B). —, 'L.S., 1936 (Arg. ...",36.0,587.56,333.07,598.39,15,1,1,other

In [55]:
classification.improve_classification(ll_df)

,line_text,spans,x0,y0,x1,y1,page,x0_type,x1_type,label,new_label,date
0,1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLISH...,[1.—LIST OF LAWS AND ORDERS OF 1944 NOT PUBLIS...,35.0,94.69,342.19,104.79,3,1,2,start,other,
1,"LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND, RE","[LEGISLATIVE SERIES FOR THAT YEAR WHICH AMEND,...",48.0,104.29,336.14,114.79,3,-1,1,other,other,
2,PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED PRE,[PEAL OR SUPERSEDE LA\VS AND ORDERS PUBLISHED ...,49.0,114.39,338.64,124.89,3,-1,2,other,other,
3,VIOUSLY IN THE LEGISLATIVE SERIES,[VIOUSLY IN THE LEGISLATIVE SERIES],48.0,124.46,236.91,134.86,3,-1,1,other,other,
4,ARGENTINE REPUBLIC,[ARGENTINE REPUBLIC],26.0,147.26,151.34,158.86,3,0,0,country,country,
...,...,...,...,...,...,...,...,...,...,...,...,...
4320,Apr. 28 L.D. respecting the organisation of la...,"[Apr. 28, L.D., respecting the organisation of...",62.0,528.92,369.30,539.32,82,1,2,start,start,Apr. 28
4321,agreements; labour courts]. No. 311. (Zb. pp. ...,"[agreements; labour courts]., No. 311., (Zb. p...",109.0,537.12,337.55,547.49,82,2,1,end,end,
4322,G.O. = Gacefa Oficial de los Unmdos de Venezuela.,"[G.O. =, Gacefa, Oficial de los, Unmdos de Ven...",63.0,552.82,296.01,563.62,82,1,1,other,other,
4323,Zb. = Zbornile zakona i naredaba.,"[Zb. =, Zbornile, zakona, i, naredaba.]",62.0,562.45,195.35,573.75,82,1,0,other,other,
4324,110L.S. 1940 (Ven. 1).,[110L.S. 1940 (Ven. 1).],63.0,582.02,151.79,591.62,82,1,0,other,other,

## Probleme
- Dokumente mit 2 Spalten
- Dokumente mit Länder-Überschrift über ganze Breite der Seite
- Erkennen, ab welcher Seite die eigentlichen Indexes beginnen
- Unnötigen Anfangstext auf der ersten Seite rausfiltern

## Fragen